---
title: Paloma Kop
date: git Last Modified
description: Paloma Kop - experimental multimedia artist
thumbnail: https://s3.amazonaws.com/palomakop.tv/og_image.jpg
---
{% include "head.liquid" %}

<body>

  <div class="container">

    <div class="column-container">

      {% include "header.liquid" %}

      <main>

        {{content}}

      </main>

      {% include "footer.liquid" %}

    </div>

  </div>

</body>

</html>
