---
layout: global
---

<div class="column-container">

  {% include "header.liquid" %}

  <main {% if mainClass %} class="{{mainClass}}" {% endif %} >

    {{content}}

  </main>

  {% include "footer.liquid" %}

</div>
