<footer>

  <p>
    Page last updated: 
    {% if tags contains "posts" %}
      {{date | formatDateOnly}}
    {% elsif page.url == "/newsletter/latest/" %}
      {{publishDate | date: "%B %e, %Y"}}
    {% else %}
      {{page.date | date: "%B %e, %Y"}}
    {% endif %}
  </p>

  <ul>
    <li>
      <a href="#top">
        <img src="https://s3.amazonaws.com/palomakop.tv/icons/up_arrow.svg" alt=""/> <span>Top of page</span>
      </a>
    </li>
    <li>
      <a href="/contact">
        <img src="https://s3.amazonaws.com/palomakop.tv/icons/contact.svg" alt=""/> <span>Contact</span>
      </a>
    </li>
    <li>
      <a href="/newsletter">
        <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/icons/letter.svg" alt=""/> <span>Newsletter</span>
      </a>
    </li>
    <li>
      <a href="/now">
        <img src="https://s3.amazonaws.com/palomakop.tv/icons/clock.svg" alt=""/> <span>Now</span>
      </a>
    </li>
    <li>
      <a href="https://webring.xxiivv.com/#random" target="_blank" rel="noopener">
        <img src="https://s3.amazonaws.com/palomakop.tv/icons/xxiivv_webring.svg" alt=""/> <span>XXIIVV</span> <img src="https://s3.amazonaws.com/palomakop.tv/icons/webring.svg" alt="webring" class="webring-icon" />
      </a>
    </li>
    <li>
      <a href="https://ring.recurse.com/" target="_blank" rel="noopener">
        <img src="https://s3.amazonaws.com/palomakop.tv/icons/recurse.svg" alt=""/> <span>Recurse</span> <img src="https://s3.amazonaws.com/palomakop.tv/icons/webring.svg" alt="webring" class="webring-icon" />
      </a>
    </li>
    <li>
      <a href="/colophon">
        <img src="https://s3.amazonaws.com/palomakop.tv/icons/info.svg" alt=""/> <span>Colophon</span>
      </a>
    </li>
    <li>
      <div class="license-icons">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener" title="Creative Commons License - Attribution Non-Commercial Share Alike">
          <img src="https://s3.amazonaws.com/palomakop.tv/icons/cc.svg" alt="Creative Commons License"/><img src="https://s3.amazonaws.com/palomakop.tv/icons/by.svg" alt="Attribution"/><img src="https://s3.amazonaws.com/palomakop.tv/icons/nc.svg" alt="Non-Commercial"/><img src="https://s3.amazonaws.com/palomakop.tv/icons/sa.svg" alt="Share Alike"/>
        </a>
      </div>
    </li>
  </ul>

</footer>
