---
title: Paloma Kop
date: git Last Modified
description: Paloma Kop - experimental multimedia artist
thumbnail: https://s3.amazonaws.com/palomakop.tv/og_image.jpg
thumbnailAlt: ""
customStyle: false
customStyleSheet: false
bgImage: false
bgImageOpacity: false
dark: false
mainClass: false
containerType: column
---
{% include "head.liquid" %}

<body id="top">

  {% if bgImage %}
  <div class="bg"></div>
  {% endif %}

  {% include "menu.liquid" %}

  <div class="container">

    {{content}}

  </div>

</body>

</html>