<header>
  <h1><a href="/"><img src="https://s3.amazonaws.com/palomakop.tv/header.svg" id="header-image" alt="Paloma Kop"/></a></h1>
  <nav>
    <ul>
      <li>
        <a href="/" class="{% if page.url == "/" %}current-link{% endif %}">about</a>
      </li>
      <li>
        <a href="/works" class="{% if page.url == "/works/" %}current-link{% endif %}">works</a>
      </li>
      <li>
        <a href="/blog" class="{% if page.url == "/blog/" %}current-link{% endif %}">blog</a>
      </li>
            <li>
        <a href="/links" class="{% if page.url == "/links/" %}current-link{% endif %}">links</a>
      </li>
    </ul>
  </nav>
</header>