<header>
  <h1><a href="/" class="{% if page.url == "/" %}current-link{% endif %}"><img src="https://s3.amazonaws.com/palomakop.tv/header.svg" id="header-image" alt="Paloma Kop"/></a></h1>
  <nav>
    <ul>
      <li>
        <a href="/" class="{% if page.url == "/" %}current-link{% endif %}">about</a>
      </li>
      <li>
        <a href="/work" class="{% if page.url == "/work/" %}current-link{% endif %}">work</a>
      </li>
      <li>
        <a href="/blog" class="{% if page.url == "/blog/" %}current-link{% endif %}">blog</a>
      </li>
      <li>
        <a href="/contact" class="{% if page.url == "/contact/" %}current-link{% endif %} icon-link"><img src="https://s3.amazonaws.com/palomakop.tv/icons/contact_lighter.svg" alt="contact" /></a>
      </li>
    </ul>
  </nav>
</header>
