<div id="menu">
  <mobile-nav>
    <a href="##" class="mobile-nav-icon close-button">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <g id="x-icon" transform="translate(0, 0)">
          <rect x="15" y="45" width="70" height="10" rx="3" ry="3" fill="currentColor" 
                transform="rotate(45, 50, 50)" />
          <rect x="15" y="45" width="70" height="10" rx="3" ry="3" fill="currentColor" 
                transform="rotate(-45, 50, 50)" />
        </g>
      </svg>
    </a>
    {% include "navLinks.liquid" %}
  </mobile-nav>
</div>