<ul>
  <li>
    <a href="/" class="{% if page.url == "/" %}current-link{% endif %}">about</a>
  </li>
  <li>
    <a href="/work" class="{% if page.url == "/work/" %}current-link{% endif %}">work</a>
  </li>
  <li>
    <a href="/blog" class="{% if page.url == "/blog/" %}current-link{% endif %}">blog</a>
  </li>
  <li>
    <a href="/contact" class="{% if page.url == "/contact/" %}current-link{% endif %}">contact</a>
  </li>
</ul>