<ul>
  <li>
    <a href="/" {% if page.url == "/" %}class="current-link" aria-current="page"{% endif %}>about</a>
  </li>
  <li>
    <a href="/art" {% if page.url == "/art/" %}class="current-link" aria-current="page"{% endif %}>art</a>
  </li>
  <li>
    <a href="/code" {% if page.url == "/code/" %}class="current-link" aria-current="page"{% endif %}>code</a>
  </li>
  <li>
    <a href="/blog" {% if page.url == "/blog/" %}class="current-link" aria-current="page"{% endif %}>blog</a>
  </li>
  <li>
    <a href="/notes" {% if page.url == "/notes/" %}class="current-link" aria-current="page"{% endif %}>notes</a>
  </li>
  <li>
    <a href="/contact" {% if page.url == "/contact/" %}class="current-link" aria-current="page"{% endif %}>contact</a>
  </li>
</ul>