<ul>
  <li>
    <a href="/" class="{% if page.url == "/" %}current-link{% endif %}">about</a>
  </li>
  <li>
    <a href="/code" class="{% if page.url == "/code/" %}current-link{% endif %}">code</a>
  </li>
  <li>
    <a href="/art" class="{% if page.url == "/art/" %}current-link{% endif %}">art</a>
  </li>
  <li>
    <a href="/blog" class="{% if page.url == "/blog/" %}current-link{% endif %}">blog</a>
  </li>
  <li>
    <a href="/contact" class="{% if page.url == "/contact/" %}current-link{% endif %}">contact</a>
  </li>
</ul>