---
layout: default
---

<nav class="top bold">
  <ul>
    <li>
      <a href="/notes">&lt; Back to all notes</a>
    </li>
  </ul>
</nav>

<h2>{{ title }}</h2>

<h3 class="note-subtitle">{{ description }}</h3>

{{ content }}