<header>
  <mobile-header>
    <h1><a href="/" class="{% if page.url == "/" %}current-link{% endif %}"><img src="https://s3.amazonaws.com/palomakop.tv/header.svg" class="header-image" alt="Paloma Kop"/></a></h1>
    <a href="#menu" class="mobile-nav-icon">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <title>Navigation menu</title>
        <g id="hamburger" transform="translate(0, 0)">
          <rect x="15" y="25" width="70" height="10" rx="3" ry="3" fill="currentColor" />
          <rect x="15" y="45" width="70" height="10" rx="3" ry="3" fill="currentColor" />
          <rect x="15" y="65" width="70" height="10" rx="3" ry="3" fill="currentColor" />
        </g>
      </svg>
    </a>
  </mobile-header>
  <desktop-sidebar>
    <h1><a href="/" class="{% if page.url == "/" %}current-link{% endif %}"><img src="https://s3.amazonaws.com/palomakop.tv/header_sidebar.svg" class="header-image" alt="Paloma Kop"/></a></h1>
    <sidebar-nav>
      {% include "navLinks.liquid" %}
    </sidebar-nav>
  </desktop-sidebar>
</header>
