<ul>
  <li>
    <div class="button"><a href="https://merveilles.town/@palomakop" target="_blank" rel="noopener">mastodon</a></div>
  </li>
  <li>
    <div class="button"><a href="https://videos.scanlines.xyz/c/palomakop_channel/video-playlists" target="_blank" rel="noopener">peertube</a></div>
  </li>
  <li>
    <div class="button"><a href="https://www.youtube.com/@palomakop" target="_blank" rel="noopener">youtube</a></div>
  </li>
  <li>
    <div class="button"><a href="https://instagram.com/palomakop" target="_blank" rel="noopener">instagram</a></div>
  </li>
  <li>
    <div class="button"><a href="https://palomakop.bandcamp.com" target="_blank" rel="noopener">bandcamp</a></div>
  </li>
</ul>
