<ul>
  {% for social in socials %}
    {% if social.active %}
      <li>
        <a href="{{ social.url }}" target="_blank" rel="noopener">{{ social.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
