{% comment %}

{% if page.url == "/" %}
<div class="about-text">
  <h3>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/triangle.svg" class="about-title-graphic" alt=""/>
    Upcoming Events
  </h3>
{% endif %}

{% if page.url == "/now/" %}
  <h2>
    Upcoming Events
  </h2>
{% endif %}

<a href="https://www.instagram.com/ecoca_nhv/" class="now-button" target="_blank" rel="noopener">
  <b>Sunday, February 8, 1pm</b><br>
  Opening of *Intervals* Exhibition
  <div class="caption">Ely Center of Contemporary Art, New Haven, CT</div>
</a>

{% if page.url == "/" %}
</div>
{% endif %}

{% endcomment %}
