---
title: Paloma Kop
date: git Last Modified
ogDescription: Paloma Kop - experimental multimedia artist
ogImage: "https://s3.amazonaws.com/palomakop.tv/og_image.jpg"
---
{% include "head.liquid" %}

<body>

  <div class="container">

      {% include "header.liquid" %}

      <main>

        {{content}}

      </main>

      {% include "footer.liquid" %}

  </div>

</body>

</html>
