---
layout: global
---

<div class="container-flex">

  {% include "sidebar.liquid" %}

  <div class="wide-container">

    <main {% if mainClass %} class="{{mainClass}}" {% endif %}>
      {{content}}
    </main>

    {% include "footer.liquid" %}

  </div>

</div>
