---
title: Paloma Kop
date: git Last Modified
---
{% include "head.liquid" %}

<body>

  <div class="container">

      {% include "header.liquid" %}

      <main>

        {{content}}

      </main>

      {% include "footer.liquid" %}

  </div>

</body>

</html>
