---
layout: default
title: Newsletter — Latest Issue
customStyle: >
  :root {
    --main-bg-color:#dadfd6;
    --main-bg-gradient:radial-gradient(#e4dfee, #f1dbdb, #d9e2d7);
  }
---

<h2>Newsletter — Latest Issue</h2>

<p style="margin:-1em 0 2em;"><b>{{ buttondown[0].publish_date | date: "%B %e, %Y"}}</b></p>

<div class="newsletter-body">
{{ buttondown[0].body }}
</div>

<hr style="margin:5em 0 2em;">

<p><i>This was an issue of my email newsletter, where I sporadically share updates about my activities as an artist and human. If you'd like to receive future updates, subscribe below!</i></p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/palomakop"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/palomakop', 'popupwindow')"
  method="post"
  class="embeddable-buttondown-form"
  >
  <label for="bd-email">Your email address:</label>
  <input type="email" name="email" id="bd-email" />
  <button type="submit" value="Subscribe">Subscribe</button>
</form>
