:root {
  --unsubtle-bg-color:#ffffff0e;
  --main-bg-color:#141414;
  --main-bg-gradient:none;
  --normal-weight:320;
  --medium-weight:370;
  --bold-weight:420;
  --black-weight:470;
}

body {
  background-color:var(--main-bg-color);
  color:#f2f2f2;
}

a {
  color:#f2f2f2;
  text-decoration:underline;
  text-underline-offset:2px;
}

@media (hover:hover) {
  a:hover {
    text-decoration:dotted underline;
    text-decoration-thickness:1.25px;
    color:#b1a0d2;
  }
}

#header-image {
  filter:invert(0.95);
}

@media (hover:hover) {
  #header-image:hover {
    filter:invert(0.7);
  }
}

@media (hover:hover) {
  nav ul li a:hover {
    color:#f2f2f2;
    background-color:transparent;
    filter:invert(0.3);
  }
}

footer ul li img {
  filter:invert(0.95);
}

@media (hover:hover) {
  footer ul li a:hover {
    color:#f2f2f2;
    filter:invert(0.3);
  }
}

.external-link:after, a[href^="http"]:not(nav *):not(footer *):not([href*="palomakop.tv"]):after {
  filter:invert(0.95);
}

.tier-lower {
  background-color:var(--unsubtle-bg-color);
}