:root {
  --unsubtle-bg-color:#ffffff0e;
  --main-bg-color:#141414;
  --main-bg-gradient:none;
  --normal-weight:320;
  --medium-weight:370;
  --bold-weight:420;
  --black-weight:470;
  --link-arrow:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='7 7 10 10'%3E%3Cpath d='M17 8v4a1 1 0 0 1-2 0v-1.586l-6.293 6.293a1 1 0 1 1-1.414-1.414L13.586 9H12a1 1 0 0 1 0-2h4a1 1 0 0 1 1 1z' fill='%23ffffff'/%3E%3C/svg%3E");
  --link-arrow-hover:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='7 7 10 10'%3E%3Cpath d='M17 8v4a1 1 0 0 1-2 0v-1.586l-6.293 6.293a1 1 0 1 1-1.414-1.414L13.586 9H12a1 1 0 0 1 0-2h4a1 1 0 0 1 1 1z' fill='%23b1a0d2'/%3E%3C/svg%3E");
}

body {
  background-color:var(--main-bg-color);
  color:#f2f2f2;
}

::selection {
  background:rgba(0, 242, 255, 0.25);
}

a {
  color:#f2f2f2;
  text-decoration:underline;
  text-underline-offset:2px;
}

@media (hover:hover) {
  a:hover {
    text-decoration:dotted underline;
    text-decoration-thickness:1.25px;
    color:#b1a0d2;
  }
}

.header-image, nav ul li a.icon-link img {
  filter:invert(0.95);
}

@media (hover:hover) {
  .header-image:hover {
    filter:invert(0.7);
  }
}

@media (hover:hover) {
  nav ul li a:hover {
    color:#f2f2f2;
    background-color:transparent;
    filter:invert(0.3);
  }
}

footer ul li img {
  filter:invert(0.95);
}

@media (hover:hover) {
  desktop-sidebar ul a:hover, mobile-nav ul a:hover, footer ul li a:hover {
    color:#f2f2f2;
    filter:invert(0.3);
  }
}

.tier-lower {
  background-color:var(--unsubtle-bg-color);
}
