body {
  text-align:center;
  color:#ffffef;
}

header {
  display:block;
  padding-bottom:0;
  margin:0;
  padding:2em 0;
}

main {
  margin:0;
  padding:0 0 3em;
}

footer {
  margin-bottom:1.5em;
}

.mobile-column-container {
  width:400px;
  margin:0 auto;
}

@media only screen and (max-width:464px) {
  .mobile-column-container {
    width:100%;
  }
}

.bg {
  width:100vw;
  height:100vh;
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  opacity:1;
  background-image:none;
  background-size:cover;
  background-position: center; 
}

.tagline {
  font-weight:var(--bold-weight);
  letter-spacing:0.01em;
  margin:1rem 0;
  text-align:center;
}

.caption {
  font-size:0.8em;
  font-style:italic;
  padding-bottom:0.1em;
}

h1 {
  font-size:2rem;
  margin:1rem 0;
  height:auto;
  line-height:1em;
}

h2 {
  font-size:1.3rem;
  margin:3.5em 0 1.8em;
  font-weight:var(--black-weight);
}

h3 {
  font-size:1.2rem;
  font-weight:var(--black-weight);
  border-bottom:2px dotted;
  margin:2rem 0 1rem;
}

h3, p, ul {
  text-align:left;
}

ul {
  padding-left:2ch;
}

footer p {
  border-bottom:none;
}

a.now-button {
  box-sizing:border-box;
  display:block;
  border:solid 1.5px;
  border-radius:10px;
  margin-bottom:0.5em;
  padding:0.5em 1.5ch 0.55em;
  margin:0 0 0.75em;
  text-decoration:none;
  color:#ffffef;
}

@media (hover:hover) {
  a.now-button:hover {
    color:#ffffef;
    background-color:rgba(255, 255, 239, 0.3);
  }
}

/* SOCIAL LOGOS */

.social-logos {
  display:flex;
  list-style-type:none;
  gap:0 1em;
  justify-content:center;
  padding:0;
  align-items:center;
  flex-wrap:wrap;
}

.social-logos img {
  width:1.5em;
  max-height:2em;
}

.social-logos a {
  filter:var(--svg-invert-filter) sepia(1);
  display:flex;
  align-items:center;
}

@media (hover:hover) {
  .social-logos a:hover {
    filter:none;
  }
}

strong {
  opacity:0.5;
  white-space:nowrap;
}

ul.event-title {
  text-align:center;
  padding-left:0;
  list-style-type:none;
  margin:0.5em 0;
}

ul.event-title li {
  margin:0.5em 0;
  line-height:1.4;
}

a.now-button:has(ul) {
  padding:1em 1.5ch 1.05em;
}
