:root {
  --main-bg-color:#f1f0e9;
  --white:#f9f9f0;
  --link-color:#000000;
  --link-hover-color:#210acf;
  --button-hover-color:rgb(25, 25, 0, 0.5);
  --hover-filter:
      invert(96%)
      sepia(8%)
      hue-rotate(20deg);
  --svg-hover-filter:
      var(--hover-filter)
      drop-shadow(1.4px 1.4px 1px rgb(0, 0, 0, 1));
  --body-font:'Roboto Mono', Andale Mono, Consolas, monospace;
  --h1-font-size:1.9rem;
  --h2-font-size:1.4rem;
  --h3-font-size:1.2rem;
  --body-font-size:1rem;
  --small-font-size:0.9rem;
  --black-weight:500;
  --bold-weight:450;
  --medium-weight:400;
  --normal-weight:350;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('https://s3.amazonaws.com/palomakop.tv/fonts/robotoMono-variable-latin.woff2') format('woff2');
  font-weight: 1 999;
  font-display: swap;
}


html {
  height:100%;
  padding:env(safe-area-inset); /* for iphone notch */
  /* Prevent font scaling in landscape while allowing user zoom */
  font-size-adjust:100%; 
  -webkit-font-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  scroll-behavior: smooth;
}

body {
  position:absolute;
  min-height:100%;
  width:100%;
  top:0;
  margin:0;
  background-color:var(--main-bg-color);
  background-attachment:fixed;
  background-repeat:no-repeat;
  font-family:var(--body-font);
  font-size:var(--body-font-size);
  line-height:1.6;
  overflow-wrap: break-word;
}

main {
  clear:both;
  width:100%;
  margin-bottom:3em;
}

main h2:first-child {
  margin-top:0;
}

.container {
  width:100%;
  min-height:100%;
  box-sizing: border-box;
  padding:0 5vw;
  margin:0;
  position: absolute;
  top:0;
  background-image:radial-gradient(#d9e7eb, #e6d5de);
}

.column-container {
  width:720px;
  margin:0;
}

@media only screen and (max-width:784px) {
  .container {
    padding:0 3ch;
  }
  .column-container {
    width:100%;
  }
}

/* HEADER */

header {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:1rem 1.5rem;
  margin:1.3em 0 3.5em;
}

#header-image {
  width:320px;
  max-width:100%;
  height:40px;
}

@media (hover:hover) {
  #header-image:hover {
    filter:var(--svg-hover-filter);
  }
}

h1 {
  display:block;
  margin:0;
  height:40px;
  font-size:var(--h1-font-size);
}

/* NAVIGATION */

nav.bold a {
  font-weight:var(--black-weight);
}

nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
}

nav.centered ul {
  justify-content:center;
}

nav.top {
  margin-bottom:2.5rem;
}

nav.bottom {
  margin-top:3.5rem;
}

nav ul li {
  font-size:var(--body-font-size);
  margin:0;
}

nav ul li a {
  display:block;
  border:solid 1.5px;
  border-radius:5px;
  padding:0.1em 0.5em;
  text-decoration:none;
}

nav ul li a.current-link {
  border:solid 1.5px;
  color:var(--white);
  background-color:#000000;
  border-radius:5px;
  pointer-events:none;
}

@media (hover:hover) {
  nav ul li a:hover {
    color:var(--white);
    background-color:var(--button-hover-color);
    text-decoration:none;
  }
}

/* BUTTONS */

button {
  color:#000000;
  background-color:transparent;
  border:1.5px solid;
  border-radius:5px;
  padding:0.1em 0.5em;
  font-size:var(--body-font-size);
  line-height:1.6;
  font-family:var(--body-font);
  cursor:pointer;
}

button.current-link {
  color:var(--white);
  background-color:#000000;
  pointer-events:none;
}

@media (hover:hover) {
  button:hover {
    color:var(--white);
    background-color:var(--button-hover-color);
    background-blend-mode: multiply;
  }
}

@media (scripting: none) {
  .script-button {
    display:none;
  }
}

/* FOOTER */

footer {
  clear:both;
  margin-top:1rem;
  padding:10px 0px;
}

footer p {
  font-style:italic;
  font-weight:var(--medium-weight);
  font-size:var(--small-font-size);
}

footer ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  gap:0em 1em;
}

footer ul li {
  float:left;
}

footer ul li a{
  text-decoration:none;
  display:flex;
  flex-wrap:none;
}

footer ul li img {
  height:30px;
  width:30px;
}

@media (hover:hover) {
  footer ul li:hover {
    color:#000000;
    filter:var(--svg-hover-filter);
  }
}

.license-icons {
  margin-top:5px;
}

.license-icons img {
  height:20px;
  width:20px;
}

/* TEXT */

h2, h3, h4, h5, h6 {
  font-weight:var(--bold-weight);
}

h2 {
  font-size:var(--h2-font-size);
  margin:1em 0 0.8em;
}

h3 {
  margin-top:1.5em;
}

p {
  max-width:720px;
  font-weight:var(--normal-weight);
  margin: 0.8em 0 1em;
}

b {
  font-weight:var(--black-weight);
}

a {
  color:var(--link-color);
  text-decoration:underline;
  text-decoration-thickness:1.25px;
  font-weight:var(--normal-weight);
}

@media (hover:hover) {
  a:hover, details summary:hover {
    text-decoration:dotted underline;
    text-decoration-thickness:2px;
    color:var(--link-hover-color);
  }
}

.external-link:after {
  content: "";
  width: 0.55em;
  height: 0.55em;
  margin-left:0.1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='7 7 10 10'%3E%3Cpath d='M17 8v4a1 1 0 0 1-2 0v-1.586l-6.293 6.293a1 1 0 1 1-1.414-1.414L13.586 9H12a1 1 0 0 1 0-2h4a1 1 0 0 1 1 1z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

ul {
  padding-left:35px;
  margin-top:1em;
}

li {
  margin-bottom:1em;
}

ul.larger-bullets {
  padding-left:2ch;
}

ul.larger-bullets li::marker {
  font-size:1.2em;
  line-height:1em;
}

code {
  font-family: Courier, monospace;
  font-size:var(--body-font-size);
  background-color:#dcdcdc96;
  padding:1px 4px;
}

details summary {
  cursor:pointer;
  color:#000000;
  text-decoration:underline;
  text-decoration-thickness:1.5px;
  width:fit-content;
}

::selection {
  color:var(--white);
  background:var(--button-hover-color);
  border-radius:5px;
}

/* IMAGES */

.graphic {
  display:block;
  margin:2rem 0;
  clear:both;
  max-width:300px;
}

.pixel-art {
  image-rendering:-webkit-crisp-edges;
  image-rendering:-moz-crisp-edges;
  image-rendering:crisp-edges;
  image-rendering:pixelated;
  -ms-interpolation-mode:nearest-neighbor;
}

.centered {
  display:block;
  margin:2rem auto;
}

img {
  max-width:100%;
  height:auto;
}

/* MORPHING TEXT */

#morph-text {
  filter:url(#threshold) blur(0.1px);
}

@media (scripting: none) {
  #morph-text {
    filter:none;
  }
}

#morphtext1, #morphtext2 {
  position:absolute;
  display:inline-block;
}

#filters {
  height:0;
  width:0;
  position:absolute;
}

/* ABOUT PAGE */

.about-header {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:2.5rem;
  margin:0 0 2.4em;
}

.about-header img {
  border-radius:10px;
  flex: 1 1 0px;
  mix-blend-mode: multiply;
}

.about-header-text {
  flex: 1 1 60px;
}

.about-header-text h2 {
  font-weight:var(--medium-weight);
  margin:0;
  font-size:var(--h1-font-size);
  letter-spacing:0.02em;
}

.about-header-text h3 {
  margin:0;
  line-height:1em;
  padding:0;
  height:2.4em;
  font-size:var(--h2-font-size);
  font-weight:var(--normal-weight);
}

@media only screen and (min-width:785px) {
  .about-header img {
    min-width: 0;
  }
}

@media only screen and (max-width:784px) {
  .about-header img {
    min-width:100%;
    height:auto;
  }
}

.about-text {
  margin:1.8em 0 2em;
}

/* GALLERY */

.gallery {
  margin-top:35px;
}

.gallery-item img {
  border:solid 1.5px;
  border-radius:5px;
  object-fit:cover;
  aspect-ratio:4/3 !important;
  width:100%;
  box-sizing: border-box;
  height:auto;
}

@media only screen and (min-width:785px) {
  .gallery {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    justify-content:flex-start;
    justify-items:stretch;
    gap:3vw 4vw;
  }

  .gallery-item {
    max-width:720px;
  }
}

@media only screen and (max-width:784px) {
  .gallery-item {
    width:100%;
    margin-bottom:40px;
  }
}

.gallery-item a {
  text-decoration:none;
}

@media (hover:hover) {
  .gallery-item a:hover {
    color:#000000;
  }
  .gallery-item a:hover img {
    filter:var(--hover-filter);
  }
  .gallery-item a:hover .caption {
    filter:var(--svg-hover-filter);
  }
}

.gallery-item h2 {
  text-align:center;
  margin:0;
  text-transform:none;
  font-size:var(--body-font-size);
}

.gallery-item p {
  text-align:center;
  margin:.2em 0 .5em 0;
  font-size:var(--small-font-size);
}

.gallery-item p.tags {
  display:flex;
  justify-content:center;
  gap:0.5em;
  font-size:var(--small-font-size);
  font-weight:var(--medium-weight);
}

.gallery-item .tags span {
  background:#000000;
  border-radius:5px;
  color:var(--white);
  padding:3px 6px;
}

.gallery-item .title {
  font-style:italic;
}

/* PHOTO GRIDS */

photo-grid {
  display:grid;
  gap:1.2em;
}

photo-grid:not(.tarot) {
  margin-bottom:1.4em;
}

photo-grid.tarot {
  gap:4rem;
  margin:2rem 0;
  border-radius:10px;
  justify-items:center;
  padding:5.5rem 0 5rem;
  background-color:#00000010;
}

.news-item photo-grid.vertical, photo-grid.two-column, photo-grid.three-column {
  margin-top:1.4em;
}

photo-grid.two-column img, photo-grid.three-column img {
  max-width:100%;
}

@media only screen and (min-width:501px) {
  photo-grid.tarot img {
    max-width:400px;
    max-height:95vh;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width:500px) {
  photo-grid.tarot {
    padding:2rem 0;
  }
  photo-grid.tarot img {
    max-width:100%;
    max-height:85vh;
    width: auto;
    height: auto;
  }
}

photo-grid:not(.tarot) img {
  border-radius:5px;
  margin-bottom:0;
  max-height:1080px;
}

photo-grid a {
  line-height:1;
  cursor: zoom-in;
}

@media only screen and (min-width:501px) {
  photo-grid.two-column {
    grid-template-columns: 1fr 1fr;
  }
  photo-grid.three-column .full-width {
    grid-column:span 2;
  }
  photo-grid.three-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
  photo-grid.three-column .full-width {
    grid-column:span 3;
  }
}

@media only screen and (max-width:500px) {
  photo-grid.two-column, photo-grid.three-column {
    grid-template-columns: 1fr;
  }
}

/* VIDEOS */

.video-container {
  max-width:100%;
  height:auto;
  margin-bottom:1.5em;
}

video {
  max-width:100%;
  height:auto;
  border-radius:5px;
  margin-bottom:0.5em;
}

.video-iframe-container {
  height:auto;
  position: relative;
  overflow: hidden;
  width:100%;
  margin-bottom:0.5em;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius:5px;
}

video.html-video-fallback {
  display:none;
}

@media (scripting: none) {
  video.html-video-fallback {
    display:block;
  }
  .video-iframe-container {
    display:none;
  }
}

.video-caption {
  margin-top:0.2em;
  margin-bottom:2em;
  font-style:italic;
}