











/* NEWS */

.news-archive {
  font-style:italic;
}

.news-item {
  margin-top:3em;
  margin-bottom:4em;
}

.news-item img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  margin-bottom:1.4em;
}

@media only screen and (min-width:785px) {
  .news-item img {
    max-width:720px;
    max-height:720px;
    height:auto;
    width:auto;
  }
}

@media only screen and (max-width:784px) {
  .news-item img {
    width:100%;
    height:auto;
  }
}

.news-item h2 {
  text-transform:none;
  letter-spacing:0em;
  font-size:1.2em;
  padding:0.5rem;
  border-top:2px dotted;
  border-bottom:2px dotted;
}

/* ABOUT PAGE */

.infobox {
  margin-top:1em;
  line-height:1.6;
}

.infobox ul {
  list-style-type:none;
  padding:0;
  margin:5px 0 10px 0;
}

.infobox ul li {
  margin-bottom:0px;
}

.infobox ul li a {
  text-decoration:none;
}

.infobox img {
  border:solid 1.5px;
  border-radius:5px;
}

.infobox-list-title {
  text-transform:uppercase;
  font-weight:bold;
}

.infobox-list-title:before {
  content:' ';
  clear:right;
  display:block;
}

@media only screen and (min-width:785px) {
  .about {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:35px;
  }

  .infobox {
    width:280px;
    flex-shrink:0;
  }

  .infobox img {
    width:280px;
    height:210px;
  }

  .text-column {
    max-width:720px;
    flex-shrink:1;
  }

}

@media only screen and (max-width:784px) {
  .infobox {
    width:100%;
  }

  .infobox img {
    aspect-ratio:4/3;
    width:100%;
    height:auto;
  }

  .text-column {
    margin-top:2em;
  }

  .infobox ul {
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    gap:0 7px;
  }
}

/* AUDIO/ALBUMS */

.album-gallery {
  margin-top:35px;
}

@media only screen and (min-width:640px) {
  .album-gallery {
    display:grid;
    grid-template-columns:repeat(auto-fit, 420px);
    justify-items:start;
    gap:35px;
  }
}

.album {
  margin:0;
}

.album-lower {
  width:100%;
  margin:0;
  border:solid 1.5px;
  border-top:none;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.album h2 {
  font-style:italic;
  font-size:1em;
  margin:0px;
  padding:10px 16px 0px;
}

.album p {
  font-size:0.85em;
  margin:0;
  padding:6px 16px 4px;
}

.album img {
  aspect-ratio:1;
  width:100%;
  margin:0;
  margin-bottom:-6px;
  border:solid 1.5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

@media only screen and (min-width:640px) {
  .album {
    width:420px;
    margin-bottom:1em;
  }
}

@media only screen and (max-width:640px) {
  .album {
    width:100%;
    width:calc(100% - 3px);
    margin-bottom:2em;
  }
}

.album audio {
  width:100%;
  width:calc(100% - 32px);
  height:40px;
  padding:4px 16px 8px;
}

.album-caption {
  font-style:italic;
}

.album-caption a:after {
  content:'↗';
}





/* MARQUEE */

.marquee {
  display:flex;
  overflow:hidden;
  user-select:none;
  height:4.2em;
}

.marquee-content {
  flex-shrink:0;
  display:flex;
  width:100%;
  justify-content:space-around;
  list-style:none;
  gap:30px;
  animation:scroll 15s linear infinite;
  margin:0;
  padding:0 0 0 30px;
  flex-wrap:wrap;
}

.marquee-content li {
  margin:0;
  font-style:italic;
}

@-webkit-keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}

@-moz-keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}

@-ms-keyframes scroll {
  from {
    -ms-transform:translateX(-100%);
  }
  to {
    -ms-transform:translateX(-100%);
  }
}

@-o-keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}

@keyframes scroll {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}

