:root {
  --main-bg-color:#dfd5db;
  --neutral-bg-color:#f1f0e9;
  --main-bg-gradient:radial-gradient(#d9e7eb, #e6d5de);
  --white:#f9f9f0;
  --link-color:#000000;
  --link-hover-color:#210acf;
  --button-hover-color:rgb(25, 25, 0, 0.5);
  --subtle-bg-color:#00000010;
  --unsubtle-bg-color:#00000017;
  --hover-filter:
      grayscale(1)
      invert(96%)
      brightness(2.5)
      contrast(2)
      sepia(8%)
      hue-rotate(20deg);
  --svg-hover-filter:
      var(--hover-filter)
      drop-shadow(1.4px 1.4px 1px rgb(0, 0, 0, 1));
  --body-font:'Roboto Mono', Andale Mono, Consolas, monospace;
  --h1-font-size:2rem;
  --h2-font-size:1.4rem;
  --h3-font-size:1.25rem;
  --body-font-size:1.1rem;
  --small-font-size:0.9rem;
  --black-weight:500;
  --bold-weight:450;
  --medium-weight:400;
  --normal-weight:350;
  --text-size-adjust:100%;
}

@font-face {
  font-family:'Roboto Mono';
  src:url('https://s3.amazonaws.com/palomakop.tv/fonts/robotoMono-variable-latin.woff2') format('woff2');
  font-weight:1 999;
  font-display:swap;
}


html {
  height:100%;
  padding:env(safe-area-inset); /* for iphone notch */
  /* Prevent font scaling in landscape while allowing user zoom */
  text-size-adjust:var(--text-size-adjust);
  -webkit-text-size-adjust:var(--text-size-adjust);
  -moz-text-size-adjust:var(--text-size-adjust);
  scroll-behavior:smooth;
}

body {
  position:absolute;
  min-height:100%;
  width:100%;
  top:0;
  margin:0;
  background-color:var(--main-bg-color);
  background-image:var(--main-bg-gradient);
  background-attachment:fixed;
  background-repeat:no-repeat;
  font-family:var(--body-font);
  font-size:var(--body-font-size);
  font-weight:var(--normal-weight);
  line-height:1.6;
  overflow-wrap:break-word;
  word-wrap:break-word;
}

main {
  clear:both;
  width:100%;
  margin-bottom:6rem;
}

main h2:first-child {
  margin-top:0;
}

.container {
  width:100%;
  min-height:100%;
  box-sizing:border-box;
  padding:0 5vw;
  margin:0;
  position:absolute;
  top:0;
  background-image:var(--main-bg-gradient);
  background-attachment:fixed;
}

.column-container {
  width:720px;
  margin:0;
}

@media only screen and (max-width:784px) {
  .container {
    padding:0 3ch;
  }
  .column-container {
    width:100%;
  }
}

.bg {
  width:100vw;
  height:100vh;
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  background-image:url("https://s3.amazonaws.com/palomakop.tv/mfa/refraction_projection.jpg");
  background-size:cover;
}

/* HEADER */

header {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:1rem 1.5rem;
  margin:1.3em 0 3.5em;
}

#header-image {
  width:320px;
  max-width:100%;
  height:40px;
}

@media (hover:hover) {
  #header-image:hover {
    filter:var(--svg-hover-filter);
  }
}

h1 {
  display:block;
  margin:0;
  height:40px;
  font-size:var(--h1-font-size);
}

/* NAVIGATION */

nav.bold a {
  font-weight:var(--black-weight);
}

nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
}

nav.centered ul {
  justify-content:center;
}

nav.top {
  margin-bottom:2.5rem;
}

nav.bottom {
  margin-top:3.5rem;
}

nav ul li {
  font-size:1.03rem;
  font-weight:var(--medium-weight);
  margin:0;
}

nav ul li .divider {
  padding:0 .3ch;
}

nav ul li a {
  display:block;
  border:solid 1.5px;
  border-radius:5px;
  padding:0.1em 0.5em;
  text-decoration:none;
  font-weight:var(--medium-weight);
}

nav ul li b {
  display:block;
  padding:calc(0.1em + 1.5px) 0.3em;
}

a.current-link {
  pointer-events:none;
}

nav ul li a.current-link {
  color:var(--white);
  background-color:#000000;
}

nav ul li a.unavailable {
  color:var(--white);
  background-color:rgb(25, 25, 0, 0.3);
  pointer-events:none;
}

@media (hover:hover) {
  nav ul li a:hover {
    color:var(--white);
    background-color:var(--button-hover-color);
    text-decoration:none;
  }
}

/* BUTTONS */

button {
  color:#000000;
  background-color:transparent;
  border:1.5px solid;
  border-radius:5px;
  padding:0.1em 0.5em;
  font-size:1rem;
  line-height:1.6;
  font-family:var(--body-font);
  cursor:pointer;
}

button.current-link {
  color:var(--white);
  background-color:#000000;
  pointer-events:none;
}

@media (hover:hover) {
  button:hover {
    color:var(--white);
    background-color:var(--button-hover-color);
    background-blend-mode:multiply;
  }
}

@media (scripting:none) {
  .script-button {
    display:none;
  }
}

/* FOOTER */

footer {
  clear:both;
  margin-top:2rem;
  padding:10px 0px;
}

footer p {
  font-style:italic;
  font-weight:var(--medium-weight);
  font-size:var(--small-font-size);
  border-bottom:2px dotted;
  padding-bottom:0.4em;
}

footer ul {
  list-style-type:none;
  padding:0;
  margin:1.2em 0;
  display:flex;
  flex-wrap:wrap;
  gap:0.5em 1.3em;
  align-items:baseline;
}

footer ul li {
  float:left;
  margin:0;
}

footer ul li a{
  text-decoration:none;
  display:flex;
  flex-wrap:none;
  align-items:center;
}

footer ul li img {
  height:1.1rem;
  width:1.1rem;
}

@media (hover:hover) {
  footer ul li a:hover {
    color:#000000;
    filter:var(--svg-hover-filter);
    text-decoration:none;
  }
}

footer li span {
  font-weight:var(--black-weight);
  font-size:var(--small-font-size);
  margin-left:0.7ch;
}

@media only screen and (max-width:784px) {
  footer ul {
    gap:0.6em;
  }
  footer ul li {
    flex-basis:13ch;
  }
}

/* TEXT */

h2, h3, h4, h5, h6 {
  font-weight:var(--bold-weight);
}

h2 {
  font-size:var(--h2-font-size);
  margin:1em 0 0.8em;
}

h3 {
  margin-top:1.5em;
}

p, details {
  max-width:720px;
  font-weight:var(--normal-weight);
  margin:0.8em 0 1em;
}

b {
  font-weight:var(--black-weight);
}

a {
  color:var(--link-color);
  text-decoration:underline;
  text-decoration-thickness:1.25px;
  font-weight:var(--normal-weight);
  text-underline-offset:2px;
}

@media (hover:hover) {
  a:hover, details summary:hover {
    text-decoration:dotted underline;
    text-decoration-thickness:1.25px;
    color:var(--link-hover-color);
  }
}

.external-link, a[href^="http"]:not(nav *):not(footer *):not(photo-grid *:not(.lightbox-ignore)):not(.tier-upper *):not([href*="palomakop.tv"]):not(.now-button):not(.centered):not(.rainbutton):not(.social-logos *) {
  padding-right:0.7em;
}

.external-link:after, a[href^="http"]:not(nav *):not(footer *):not(photo-grid *:not(.lightbox-ignore)):not(.tier-upper *):not([href*="palomakop.tv"]):not(.now-button):not(.rainbutton):not(.social-logos *):after {
  content:"";
  width:0.5em;
  height:0.5em;
  margin-left:0.1em;
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='7 7 10 10'%3E%3Cpath d='M17 8v4a1 1 0 0 1-2 0v-1.586l-6.293 6.293a1 1 0 1 1-1.414-1.414L13.586 9H12a1 1 0 0 1 0-2h4a1 1 0 0 1 1 1z'/%3E%3C/svg%3E");
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  display:inline-block;
  position:absolute;
  translate:0.1em 0.6em;
}

ul {
  padding-left:35px;
  margin-top:1em;
}

li {
  margin-bottom:1em;
}

ul.larger-bullets {
  padding-left:2ch;
}

ul.larger-bullets li::marker {
  font-size:1.2em;
  line-height:1em;
}

code {
  font-family:Courier, monospace;
  font-size:var(--body-font-size);
  background-color:#dcdcdc96;
  padding:1px 4px;
}

details summary {
  cursor:pointer;
  color:#000000;
  text-decoration:underline;
  text-underline-offset:2px;
  text-decoration-thickness:1.25px;
  width:fit-content;
}

::selection {
  color:var(--white);
  background:var(--button-hover-color);
  border-radius:5px;
}

/* IMAGES */

.graphic {
  display:block;
  margin:2rem 0;
  clear:both;
  max-width:300px;
}

.about-title-graphic {
  display:block;
  margin:1em 0 0.7em;
  max-width:100%;
  clear:both;
  width:7ch;
  height:1.4rem;
}

@media (hover:hover) {
  .about-title-graphic:hover {
    transform: scaleX(-1);
  }
}

.pixel-art {
  image-rendering:-webkit-crisp-edges;
  image-rendering:-moz-crisp-edges;
  image-rendering:crisp-edges;
  image-rendering:pixelated;
  -ms-interpolation-mode:nearest-neighbor;
}

.centered {
  display:block;
  margin:2rem auto;
}

img {
  max-width:100%;
  height:auto;
}

img-caption {
  text-align:center;
  font-style:italic;
  display:block;
  max-width:80%;
  margin:0 auto;
}

/* MORPHING TEXT */

#morph-text {
  filter:url(#threshold) blur(0.1px);
}

@media (scripting:none) {
  #morph-text {
    filter:none;
  }
}

#morphtext1, #morphtext2 {
  position:absolute;
  display:inline-block;
}

#filters {
  height:0;
  width:0;
  position:absolute;
}

/* ABOUT PAGE */

.about-header {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:2.5rem;
  margin:0 0 3em;
}

.about-header img {
  border-radius:10px;
  flex:1 1 0px;
  mix-blend-mode:multiply;
}

.about-header-text {
  flex:1 1 60px;
}

.about-header-text h2 {
  font-weight:var(--medium-weight);
  margin:0;
  font-size:var(--h1-font-size);
  letter-spacing:0.02em;
}

.about-header-text h3 {
  margin:0;
  line-height:1em;
  padding:0;
  height:2.4em;
  font-size:var(--h2-font-size);
  font-weight:var(--normal-weight);
}

@media only screen and (min-width:785px) {
  .about-header img {
    min-width:0;
  }
}

@media only screen and (max-width:784px) {
  .about-header img {
    min-width:100%;
    height:auto;
  }
}

.about-text {
  margin:1.8em 0 2.5em;
}

/* GALLERY */

.gallery {
  margin-top:35px;
}

.gallery-item img {
  border:solid 1.5px;
  border-radius:5px;
  object-fit:cover;
  aspect-ratio:4/3 !important;
  width:100%;
  box-sizing:border-box;
  height:auto;
}

@media only screen and (min-width:785px) {
  .gallery {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    justify-content:flex-start;
    justify-items:stretch;
    gap:3vw 4vw;
  }

  .gallery-item {
    max-width:720px;
  }
}

@media only screen and (max-width:784px) {
  .gallery-item {
    width:100%;
    margin-bottom:40px;
  }
}

.gallery-item a {
  text-decoration:none;
}

@media (hover:hover) {
  .gallery-item a:hover {
    color:#000000;
  }
  .gallery-item a:hover img {
    filter:var(--hover-filter);
  }
  .gallery-item a:hover .caption {
    filter:var(--svg-hover-filter);
  }
}

.gallery-item h2 {
  text-align:center;
  margin:0;
  text-transform:none;
  font-size:var(--body-font-size);
}

.gallery-item p {
  text-align:center;
  margin:.2em 0 .5em 0;
  font-size:var(--small-font-size);
}

.gallery-item p.tags {
  display:flex;
  justify-content:center;
  gap:0.5em;
  font-size:var(--small-font-size);
  font-weight:var(--medium-weight);
}

.gallery-item .tags span {
  background:#000000;
  border-radius:5px;
  color:var(--white);
  padding:3px 6px;
}

.gallery-item .title {
  font-style:italic;
}

/* PHOTO GRIDS */

photo-grid {
  display:grid;
  gap:1.2em;
}

photo-grid:not(.tarot) {
  margin-bottom:1.5em;
}

photo-grid.tarot {
  gap:4rem;
  margin:2rem 0;
  border-radius:10px;
  justify-items:center;
  padding:5.5rem 0 5rem;
  background-color:none;
  transition:background-color 1s;
}

photo-grid.vertical, photo-grid.two-column, photo-grid.three-column {
  margin-top:1.5em;
}

photo-grid.two-column img, photo-grid.three-column img {
  max-width:100%;
}

@media only screen and (min-width:501px) {
  photo-grid.tarot img {
    max-width:400px;
    max-height:95vh;
    width:auto;
    height:auto;
  }
}

@media only screen and (min-width:785px) {
  photo-grid.tarot{
    background-color:var(--subtle-bg-color);
    transition:background-color 1s;
  }
}

@media only screen and (max-width:500px) {
  photo-grid.tarot {
    padding:2rem 0;
  }
  photo-grid.tarot img {
    max-width:100%;
    max-height:85vh;
    width:auto;
    height:auto;
  }
}

photo-grid:not(.tarot) img {
  border-radius:5px;
  margin-bottom:0;
  max-height:1080px;
}

photo-grid a:not(.lightbox-ignore) {
  line-height:1;
  cursor:zoom-in;
}

photo-grid img {
  min-width:100%;
}

@media only screen and (min-width:501px) {
  photo-grid.two-column {
    grid-template-columns:1fr 1fr;
  }
  photo-grid.two-column .full-width {
    grid-column:span 2;
  }
  photo-grid.three-column {
    grid-template-columns:1fr 1fr 1fr;
  }
  photo-grid.three-column .full-width {
    grid-column:span 3;
  }
}

@media only screen and (max-width:500px) {
  photo-grid.two-column, photo-grid.three-column {
    grid-template-columns:1fr;
  }
}

photo-grid .video-grid-item a img {
  aspect-ratio: 4 / 3 !important;
  object-fit:cover;
  border-radius:10px;
}

photo-grid .video-thumb-caption {
  margin-top:0.3em;
  background:var(--unsubtle-bg-color);
  padding:0.2em 0.5em 0.5em;
  border-radius:10px;
}

photo-grid .video-thumb-caption h5 {
  font-size:1em;
  margin:0.5em;
}

photo-grid .video-thumb-caption ul {
  margin:0.5em;
  padding-left:3ch;
  font-size:1rem;
}

photo-grid .video-thumb-caption li {
  margin:0.2em 0;
}

/* VIDEOS */

.video-container {
  width:100%;
  height:auto;
  margin-top:1.5em;
  margin-bottom:1.5em;
}

video {
  border-radius:5px;
  margin-bottom:0.5em;
  margin-left:auto;
  margin-right:auto;
}

.video-iframe-container {
  margin-bottom:0.5em;
  background:#000000;
  border-radius:5px;
  margin-left:auto;
  margin-right:auto;
}

.video-container iframe {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
}

video.html-video-fallback {
  display:none;
}

@media (scripting:none) {
  video.html-video-fallback {
    display:block;
  }
  .video-iframe-container {
    display:none;
  }
}

.video-caption {
  margin-top:0.2em;
  margin-bottom:2em;
  text-align:center;
  background-color:var(--unsubtle-bg-color);
  border-radius:5px;
  padding:0.1em 1em 0.2em;
  font-size:1rem;
}

/* CV */

.cv h2 {
  text-transform:none;
  font-size:1.4em;
  font-style:italic;
}

.cv h3 {
  border-bottom:2px dotted;
  margin-top:1.5em;
  font-size:1.2em;
}

.cv h4 {
  border-bottom:2px dotted;
  margin-top:1.5em;
  font-size:0.9em;
  letter-spacing:0.05ch;
  opacity:0.4;
  font-style:italic;
}

.cv p {
  text-indent:-6ch;
  margin-left:6ch;
}

.cv .year {
  font-weight:bold;
  display:inline-block;
  text-indent:0;
  min-width:5ch;
}

.cv a {
  font-style:italic;
}

/* TABLE OF CONTENTS */

.table-of-contents {
  margin-bottom:2em;
}

.table-of-contents ul {
  margin-top:0;
  padding-bottom:0;
}

.table-of-contents li {
  margin:0;
}

.active {
  pointer-events:none;
}

/* FORMS */

form {
  width:100%;
  max-width:450px;
  margin-top:2em;
}

form label {
  display:block;
}

form input {
  width:100%;
  box-sizing:border-box;
  height:2em;
  border:1.5px solid;
  border-radius:5px;
  margin:1em 0;
  font-size:1em;
  font-family:Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  display:block;
}

form input[type=checkbox] {
  margin:0 0 2em;
  width:1.2em;
  height:1.2em;
  display:inline-block;
}

form input:focus {
  border:1.5px dotted;
}

form textarea {
  width:100%;
  box-sizing:border-box;
  height:8em;
  resize:none;
  border:1.5px solid;
  border-radius:5px;
  margin:1em 0;
  font-family:Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  font-size:1em;
}

form textarea:focus {
  border:1.5px dotted;
}

form button {
  color:#000000;
  border:1.5px solid;
  border-radius:5px;
  padding:5px 10px;
  font-size:1em;
  font-family:Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  background:none transparent;
  cursor:pointer;
}

@media (hover:hover) {
  form button:hover {
    color:#000000;
    filter:invert();
  }
}

:focus-visible {
  outline:none;
}

/* ZINE CLUB TIERS */

.tier-gallery {
  margin:2em 0 4em;
}

@media only screen and (min-width:640px) {
  .tier-gallery {
    display:flex;
    gap:35px;
  }
}

.tier {
  margin:0;
  width:100%;
}

.tier-upper {
  border-top:solid 1.5px;
  border-left:solid 1.5px;
  border-right:solid 1.5px;
  border-radius:25px 25px 0 0;
  padding:2em;
}

.tier img {
  max-height:250px;
  width:auto;
  display:block;
  margin:0 auto;
}

@media (hover:hover) {
  .tier a:hover img {
    filter:invert() grayscale(100%);
  }
}

.tier-lower {
  border:solid 1.5px;
  background-color:#f3f0ea;
  border-radius:0 0 25px 25px;
}

.tier h2 {
  font-style:italic;
  font-size:1.1em;
  margin:0px;
  padding:20px 16px 0px;
}

.tier p {
  margin:0;
  padding:16px 16px 4px;
  font-style:italic;
}

.tier .table-of-contents {
  margin-bottom:1em;
}

.tier .rainbutton {
  margin-top:1em;
  margin-bottom:1.2em;
  text-align:center;
}

.rainbutton {
  width:fit-content;
  display:block;
  height:auto;
  padding:10px 30px;
  border:solid 1.5px;
  border-radius:15px;
  background-image:linear-gradient(to right, #ff6666, #ffad33, #e6e600, #70db70, #4dd2ff, #9a9ae5, #ea62ea);
  font-size:1.1em;
  text-decoration:none;
}

.rainbutton.centered {
  box-sizing:border-box;
  max-width:calc(100% - 2.4em);
}

@media (hover:hover) {
  .rainbutton:hover {
    text-decoration:none;
    color:#000000;
    filter:invert();
  }
}

@media only screen and (min-width:640px) {
  .tier {
    width:420px;
    margin-bottom:1em;
  }
}

@media only screen and (max-width:640px) {
  .tier {
    width:100%;
    width:calc(100% - 3px);
    margin-bottom:2em;
  }
}

/* FUNDING THERMOMETER */

.funding-thermometer {
  border:solid 1.5px;
  border-radius:15px;
  width:100%;
  height:30px;
  margin-top:2em;
}

.funding-mercury {
  border-radius:13.5px 0 0 13.5px;
  height:100%;
  background-image:linear-gradient(to left, #ff6666, #ffad33, #e6e600, #70db70, #4dd2ff, #9a9ae5 );
  display:flex;
  justify-content:right;
  align-items:center;
}

.funding-percentage {
  text-align:right;
  margin:0 0.6em 0 0;
}

.funding-caption {
  text-align:center;
  margin:0.2em 0;
  font-weight:bold;
}

/* BLOG */

.article-list {
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
  width:100%;
}

.blog-post {
  width:100%;
}

.blog-post img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  margin-bottom:1.4em;
}

@media only screen and (min-width:785px) {
  .blog-post img {
    max-width:100%;
    max-height:max(100vh, 500px);
    height:auto;
    width:auto;
  }
}

@media only screen and (max-width:784px) {
  .blog-post img {
    width:100%;
    height:auto;
  }
}

.blog-post h2, .archive-year {
  font-size:1.4em;
  padding:0.5rem 0;
  border-bottom:2.5px dotted;
  margin-bottom:0.5rem;
}

.blog-post h3 {
  letter-spacing:0em;
  font-size:1.3em;
  padding:0 0 0.5rem;
  border-bottom:2.5px dotted;
  margin-bottom:0.5rem;
}

.blog-post h3 a {
  text-decoration:none;
  font-weight:var(--black-font-weight);
}

.blog-post .metadata {
  font-size:var(--small-font-size);
  margin-top:0;
  margin-bottom:1.5em;
}

.blog-post .subtitle {
  font-weight:var(--bold-weight);
  margin-top:0;
  margin-bottom:1.3em;
}

/* QUOTES */

.quote-card {
  border:solid 1.5px;
  border-radius:25px;
  padding:1.5em 2em;
  margin:2em auto 3em;
  max-width:45ch;
  background-color:var(--subtle-bg-color);
  background-color:#f3f0ea;
}

.quote-card blockquote {
  margin:0;
  font-style:italic;
}

.quote-card p {
  text-align:right;
  margin:1em 2em 0;
  font-weight:var(--bold-weight)
}

/* BLOG POST ARCHIVE */

ul.post-archive {
  list-style:none;
  padding:0;
}

.post-archive li {
  display:flex;
  gap:2ch;
}

@media only screen and (max-width:380px) {
  .post-archive li  {
    flex-wrap:wrap-reverse;
    gap:0;
}
  .post-archive li *  {
      width:100%;
  }
}

.post-archive li a {
  font-weight:var(--bold-weight);
  
}

.post-archive li span {
  width:6ch;
  height:fit-content;
  flex-shrink:0;
  font-style:italic;
}

.subtle-caption {
  font-size:var(--small-font-size);
  opacity:0.3;
  font-style:italic;
  font-weight:var(--bold-weight);
  display:block;
}

/* PAGE NAVIGATION */
nav.paginav {
  margin: 1.5em 0;
}

nav.paginav ul {
  gap: 0.6rem;
}

nav.paginav a {
  border-radius:0.6em;
}