---
title: This page intentionally left blank
description: ''
notecardStyle: 'background-color:var(--neutral-bg-color);'
customStyle: >
  :root {
    --main-bg-color:var(--neutral-bg-color);
    --main-bg-gradient:none;
  }
layout: noMenuCentered
tags: notes
thumbnail: 'https://s3.amazonaws.com/palomakop.tv/notes/blankPage.jpg'
thumbnailDescription: ''
---

<h1 style="margin-top:30vh;">{{title}}</h1>

<nav class="centered">
  <ul>
    <li><a href="/notes">&lt; back to notes</a></li>
  </ul>
</nav>
