---
layout: default
mainClass: cv
title: CV
customStyle: >
  :root {
    --main-bg-color:var(--neutral-bg-color);
    --main-bg-gradient:none;
  }
---

<h2>Curriculum Vitae</h2>

<p class="subtitle"><b>Paloma Kop,&nbsp;</b>Multimedia Artist</p>

<nav>
  <ul>
    <li>
      <a href="/art">Portfolio</a>
    </li>
  </ul>
</nav>

<h3>Table of Contents</h3>

<ul class="table-of-contents">
  <li>
    <a href="#Education">Education</a>
  </li>
  <li>
    <a href="#Teaching_experience">Teaching Experience</a>
  </li>
  <li>
    <a href="#Solo_duo_exhibitions_performances">Solo/Duo Exhibitions & Performances</a>
  </li>
  <li>
    <a href="#Group_exhibitions_screenings_performances">Group Exhibitions, Screenings & Performances</a>
  </li>
  <li>
    <a href="#Curation">Curation</a>
  </li>
  <li>
    <a href="#Workshops_talks_demos">Workshops, Talks & Demos</a>
  </li>
  <li>
    <a href="#Residencies">Residencies</a>
  </li>
  <li>
    <a href="#Publications_broadcasts">Publications & Broadcasts</a>
  </li>
</ul>

<h3 id="Education">Education</h3>

<p><span class="year">2020</span> <b>M.F.A.</b>,  Electronic Integrated Arts, New York State College of Ceramics at Alfred University, Alfred, NY
</p>

<p><span class="year">2014</span> <b>B.S.</b>,  Visual Arts, Minor in Math & Computer Science, Purchase College, State University of New York, Purchase, NY
</p>

<p><span class="year">2009</span>  Fine Arts Foundation Program, School of Visual Arts, New York, NY
</p>

<h3 id="Teaching_experience">Teaching Experience</h3>

<p><span class="year">2024 Fall • </span> <b>Lecturer</b>, Hamilton College, Clinton, NY<br>
ART 221: Intro to Animation (2 sections)
</p>

<p><span class="year">2020 Spring • </span> <b>Teaching Assistant</b>, Alfred University, Alfred, NY<br>
ART 214: Speculative Illustration & Design
</p>

<p><span class="year">2018 Fall • </span> <b>Teaching Assistant</b>, Alfred University, Alfred, NY<br>
ART 332: Advanced Video Arts
</p>

<p><span class="year">2013 Fall • </span> <b>Teaching Assistant</b>, Purchase College, State University of New York, Purchase, NY<br>
NME 1450: Programming for Visual Artists
</p>

<p><span class="year">2013 Spring • </span> <b>Teaching Assistant</b>, Purchase College, State University of New York, Purchase, NY<br>
VIS/NME 3000: Art in the Age of Electronic Media
</p>

<h3 id="Solo_duo_exhibitions_performances">Solo/Duo Exhibitions & Performances</h3>

<p><span class="year">2025</span> <b>Reality Orp</b>, Audiovisual Performance with Andrei Jay, Essential Music: Concerts from Home, The Internet Archive, October 2, 2025, Online + San Francisco, CA (Curated by BZ Petroff)
</p>

<p><span class="year">2025</span> <b>Reality Orp</b>, Audiovisual Performance with Andrei Jay, Weird Music Night, Ely Center of Contemporary Art, September 10, 2025, New Haven, CT (Curated by John O'Donnell)
</p>

<p><span class="year">2025</span> <b>Reality Orp</b>, Audiovisual Performance with Andrei Jay, Weird Music Night, ChaShaMa North, July 18, 2025, Pine Plains, NY (Curated by John O'Donnell)
</p>

<p><span class="year">2025</span> <b>Reality Orp</b>, Audiovisual Performance with Andrei Jay, Light + Sound Design, June 5, 2025, Brooklyn, NY (Curated by Ka Baird)
</p>

<p><span class="year">2025</span> <b>In Waves</b>, Solo Audiovisual Performance, Women Innovating Sound Experience, Union Docs, March 30, 2025, Queens, NY (Curated by Jenn Grossman)
</p>

<p><span class="year">2025</span> <b>Paloma Kop + exquisitecorp</b>, Audiovisual Performance with Lee Tusman, The Living Gallery, March 22, 2025, Brooklyn, NY (Curated by Proto)
</p>

<p><span class="year">2024</span> <b>Reality Orp</b>, Audiovisual Performance with Andrei Jay, The Psychic Garden, May 3, 2024, Rochester, NY (Curated by Cameron Farash)
</p>

<p><span class="year">2024</span> <b>Exalge</b>, Audiovisual Performance with Matthew Ryals, The Avalon Lounge, February 15, 2024, Hudson, NY 
</p>

<p><span class="year">2023</span> <b>Synthetic Forest</b>, Installation & Audiovisual Performance with Andrei Jay, Coaxial Arts, October 30, 2023, Los Angeles, CA (Curated by Eva Aguila & Brock Fansler)
</p>

<p><span class="year">2023</span> <b>Reality Orp</b>, Audiovisual Performance with Andrei Jay, Out of Phase, Phase Space, May 5, 2023, Brooklyn, NY 
</p>

<p><span class="year">2022</span> <b>Reality Orp</b>, Audiovisual Performance with Andrei Jay, Mercuralia, Phase Space, August 26, 2022, Brooklyn, NY 
</p>

<p><span class="year">2022</span> <b>Impromptus in Isolation</b>, Audiovisual Performance with Matthew Ryals, Littlefield, June 30, 2022, Brooklyn, NY 
</p>

<p><span class="year">2021</span> <b>Artifact</b>, Audiovisual Performance with Hiro Kone, Atta Inc., October 23, 2021, New York, NY (Curated by Testu Collective)
</p>

<p><span class="year">2021</span> <b>Electromagnetic Environments</b>, Solo Audiovisual Performance, Ann Arbor Film Festival, March 26, 2021, Ann Arbor, MI (Curated by Leslie Raymond)
</p>

<p><span class="year">2021</span> <b>Solace</b>, Solo Audiovisual Performance, ChaShaMa Residency Space, March 13, 2021, Brooklyn, NY (Curated by Testu Collective)
</p>

<p><span class="year">2020–2021 • </span> <b>Space(time) Thresholds</b>, M.F.A. Thesis Exhibition & Audiovisual Performance, Alfred University, December 12, 2020–January 31, 2021, Online + Alfred, NY 
</p>

<p><span class="year">2020</span> <b>Edge of Light</b>, Solo Audiovisual Performance, HoloCenter, December 2, 2020, Online + Queens, NY (Curated by Jonathan Sims & Testu Collective)
</p>

<p><span class="year">2020</span> <b>WoodWaveWormRose</b>, Audiovisual Performance with Andrei Jay, Video Circuits Berlin: VIDICON, Lacuna Lab, November 14, 2020, Online + Berlin, Germany 
</p>

<p><span class="year">2020</span> <b>Interval II</b>, Solo Audiovisual Performance, Synesthesia, September 30, 2020, Brooklyn, NY (Curated by Testu Collective)
</p>

<p><span class="year">2019</span> <b>Experiments in Public</b>, Solo Exhibition, SPACES, June 20–August 1, 2019, Cleveland, OH (Curated by Megan Young)
</p>

<p><span class="year">2019</span> <b>Fugitive Dream Recovery</b>, Audiovisual Performance with Bobby Pharaoh, Télépresence III, La Lumière, May 31, 2019, Montreal, QC 
</p>

<p><span class="year">2019</span> <b>Unusual A/V Set</b>, Solo Audiovisual Performance, Secret Project Robot, March 21, 2019, Brooklyn, NY 
</p>

<p><span class="year">2019</span> <b>Collaborative A/V Performance</b>, Audiovisual Performance with Killick Hinds, Turner Gallery, February 25, 2019, Alfred, NY (Curated by Dale Inglett)
</p>

<p><span class="year">2018</span> <b>Sleepwalks</b>, Solo Audiovisual Performance, Transient Visions: Festival of the Moving Image, Spool Contemporary Art Space, October 19, 2018, Johnson City, NY (Curated by Brian Murphy)
</p>

<p><span class="year">2018</span> <b>Projection Mapping Installation at Stull Astronomical Observatory</b>, Solo Pop-Up Installation, Alfred University, October 2, 2018, Alfred, NY 
</p>

<p><span class="year">2018</span> <b>Post Analog::</b>, Exhibition with Sky Goodman, Grapefruits Art Space, September 19–October 20, 2018, Portland, OR (Curated by Sarah Turner)
</p>

<p><span class="year">2018</span> <b>Fugitive Dream Recovery</b>, Audiovisual Performance with Bobby Pharaoh, Télépresence II, H0L0, April 6, 2018, Queens, NY 
</p>

<p><span class="year">2018</span> <b>Sleepwalks</b>, Solo Audiovisual Performance, Muchmore's, March 2, 2018, Brooklyn, NY (Curated by Frank Spigner)
</p>

<p><span class="year">2018</span> <b>Sleepwalks</b>, Solo Audiovisual Performance, H0L0, January 3, 2018, Queens, NY (Curated by Gryphon Rue)
</p>

<p><span class="year">2017</span> <b>Sleepwalks</b>, Solo Audiovisual Performance, The Mudlark Public Theatre, June 16, 2017, New Orleans, LA 
</p>

<p><span class="year">2017</span> <b>Collaboration for Télépresence</b>, Audiovisual Performance with Colby Richardson, Télépresence, La Lumière, May 5, 2017, Montreal, QC 
</p>

<p><span class="year">2017</span> <b>Sleepwalks</b>, Solo Audiovisual Performance, Flux Factory, April 24, 2017, Queens, NY 
</p>

<p><span class="year">2016</span> <b>Semiotic Recipes</b>, Solo Audiovisual Performance, Park Church Co-op, June 28, 2016, Brooklyn, NY (Curated by Cryptic Carousel)
</p>

<p><span class="year">2016</span> <b>Sleepwalks</b>, Solo Music Performance, Harsh Noise Beat Face, Torus Porta, June 3, 2016, Brooklyn, NY (Curated by Reagan Holiday)
</p>

<p><span class="year">2014</span> <b>UTF-∞: Symbolics of the Unknown</b>, Exhibition with Liaizon Wakest, Boy's Club, July 23–27, 2014, Berlin, Germany (Curated by Harley Aussoleil)
</p>

<p><span class="year">2014</span> <b>GLØØM</b>, B.S. of Visual Arts Thesis Exhibition, Forum Artspace, Purchase College, May 3, 2014, Purchase, NY 
</p>

<h3 id="Group_exhibitions_screenings_performances">Group Exhibitions, Screenings & Performances</h3>

<p><span class="year">2026</span> <b>Imaginary Prisons / RUBY / The Herbalists / Parlay Droner</b>, Live Concert Visuals, Ely Center of Contemporary Art, February 20, 2026, New Haven, CT 
</p>

<p><span class="year">2026</span> <b>Intervals</b>, Exhibition, Ely Center of Contemporary Art, February 7–April 11, 2026, New Haven, CT (Curated by Kit Young / Ely Center Curatorial and Programming Advisory Committee)
</p>

<p><span class="year">2026</span> <b>Flicker & Roll</b>, Exhibition, Resonant Gallery, Western Michigan University, February 5–April 1, 2026, Grand Rapids, MI (Curated by Micah Alhadeff & Eric Souther)
</p>

<p><span class="year">2025</span> <b>Glitch Film from the Fubar Archive</b>, Screening, net.cultural club MaMa, December 21, 2025, Zagreb, Croatia (Curated by Dina Gligo & Vedran Gligo)
</p>

<p><span class="year">2024</span> <b>Snark / The Spookfish / headfullofhammers</b>, Live Concert Visuals, The Stone House, August 29, 2024, Kingston, NY 
</p>

<p><span class="year">2024</span> <b>Matthew Ryals + Stephen Haluska / Lunar Slopes</b>, Live Concert Visuals, The Avalon Lounge, August 20, 2024, Hudson, NY 
</p>

<p><span class="year">2024</span> <b>Silvering Toward Invisible</b>, Exhibition, Lights Out x Speedwell Gallery, February 28–March 15, 2024, Portland, ME (Curated by Reed McLean)
</p>

<p><span class="year">2024</span> <b>Mall Magic</b>, Pop-Up Installation, Artist Residency Space in Disused Storefront, The Shops at Ithaca Mall, February 23, 2024, Ithaca, NY (Curated by Anna Oxygen)
</p>

<p><span class="year">2023</span> <b>Signal Culture Alumni: Selections from Videosyntezy 2</b>, Screening, Denver Month of Video, Buntport Theater, July 14, 2023, Denver, CO (Curated by Debora Bernagozzi)
</p>

<p><span class="year">2023</span> <b>Phase Shift Collective</b>, Audiovisual Performance & Installation with Andrei Jay and Kevin Kripper, FEED Media Art Center, June 22, 2023, Erie, PA 
</p>

<p><span class="year">2022</span> <b>Videosyntezy II</b>, Exhibition, Intermediale Festival, Ring Gallery, October 14–November 23, 2022, Legnica, Poland (Curated by Małgorzata Dancewicz)
</p>

<p><span class="year">2022</span> <b>New Media + Motion-Art Exhibition for Supernova 7th Dimension</b>, Exhibition, CU Experience Gallery, CU Denver College of Arts + Media, September 16–October 30, 2022, Denver, CO (Curated by Denver Digerati, Sharifa Moore & Cherish Marquez)
</p>

<p><span class="year">2022</span> <b>Re:Karya International Video Festival Exhibition</b>, Exhibition, Satria Gallery, Telkom Institute of Technology, August 28–30, 2022, Purwokerto, Indonesia 
</p>

<p><span class="year">2022</span> <b>Fireflies II</b>, Audiovisual Performance with Augustus Arnone and Dorota Czerner, OPEN SPACE Encounters: Music from the Time of Renewal, Maverick Concert Hall, August 18, 2022, Woodstock, NY 
</p>

<p><span class="year">2022</span> <b>New Delusion / Nude Illusion</b>, Audiovisual Performance, Hexafloralia, Phase Space, May 6, 2022, Brooklyn, NY 
</p>

<p><span class="year">2022</span> <b>Wonderville's 3rd Birthday Video Art Show: A Tribute to Ginny Benson</b>, Exhibition, Wonderville, April 30–May 1, 2022, Brooklyn, NY (Curated by Mark Kleback)
</p>

<p><span class="year">2022</span> <b>Suzanne Ciani / Lori Scacco</b>, Live Concert Visuals, Ambient Church, March 4, 2022, New York, NY 
</p>

<p><span class="year">2021</span> <b>Nitemoves / Pent / MA / Clara Lu + Ohyung</b>, Live Concert Visuals, MESMARIZE 06, Trans Pecos, November 6, 2021, Queens, NY (Curated by Mesma Records)
</p>

<p><span class="year">2021</span> <b>Hyperborealis</b>, Multimedia Performance with Andrei Jay, Valeria Divinorum, Jonathan Sims, and Max Coker, Phase Space, October 8, 2021, Brooklyn, NY 
</p>

<p><span class="year">2021</span> <b>Vector Hack Screening Program</b>, Screening, MFRU: International Festival of Computer Arts, Vetrinjski dvor, October 7–14, 2021, Maribor, Slovenia (Curated by Ivan Marušić Klif & Derek Holzer)
</p>

<p><span class="year">2021</span> <b>Bookworms / Testu Collective / Matt Evans / Gabor + Dovetail</b>, Live Concert Visuals, MESMARIZE 05, Trans Pecos, July 10, 2021, Queens, NY (Curated by Mesma Records)
</p>

<p><span class="year">2021</span> <b>New Delusion / Nude Illusion</b>, Audiovisual Performance with Ensemble, Photon Playground, Phase Space, July 9, 2021, Brooklyn, NY 
</p>

<p><span class="year">2021</span> <b>TRVLR</b>, Sound & Kinetic Sculpture Activation with Ensemble, MIKA, June 28, 2021, Brooklyn, NY (Curated by Testu Collective)
</p>

<p><span class="year">2021</span> <b>Common Multiverse Initiative</b>, Online Multimedia Event, Currents.fm, March 12, 2021, Online (Curated by Testu Collective)
</p>

<p><span class="year">2021</span> <b>Solace Artists Series</b>, Storefront Installation, ChaShaMa Residency Space, February 10–March 7, 2021, Brooklyn, NY (Curated by Testu Collective)
</p>

<p><span class="year">2020</span> <b>Recursive News</b>, Audiovisual Performance with Andrei Jay, Allen Riley, Rob Yohe, and Irfan Brković, /’fu:bar/ Festival, AKC Attack, October 4, 2020, Online + Zagreb, Croatia (Curated by Dina Gligo & Vedran Gligo)
</p>

<p><span class="year">2020</span> <b>Videosyntezy</b>, Exhibition, Intermediale Festival, Ring Gallery, October 1–December 19, 2020, Legnica, Poland (Curated by Małgorzata Dancewicz)
</p>

<p><span class="year">2020</span> <b>Vector Hack Festival</b>, Screening, Exportdrvo, October 1, 2020, Rijeka, Croatia (Curated by Ivan Marušić Klif & Derek Holzer)
</p>

<p><span class="year">2020</span> <b>Light Year 65: Solace</b>, Screening, Light Year Arts, Dumbo Archway, September 2, 2020, Brooklyn, NY (Curated by Testu Collective)
</p>

<p><span class="year">2020</span> <b>Summer Series</b>, Online Screening, Coaxial Arts, July 10, 2020, Los Angeles, CA (Curated by Eva Aguila)
</p>

<p><span class="year">2020</span> <b>Metacognition</b>, Exhibition, Booth 1150, Spring/Break Art Show, March 2–8, 2020, New York, NY (Curated by Tali Hinkis & Robin Kang)
</p>

<p><span class="year">2020</span> <b>PanLux</b>, Screening, HEARding Cats Collective, February 4, 2020, Saint Louis, MO (Curated by Kevin Harris)
</p>

<p><span class="year">2019–2020 • </span> <b>The Wrong Epicentre</b>, Exhibition, The Wrong: New Digital Art Biennale, October 31, 2019–February 29, 2020, 20 locations across Comunitat Valenciana, Spain (Curated by David Quiles Guilló)
</p>

<p><span class="year">2019–2020 • </span> <b>Philadelphia Pavilion</b>, Exhibition, The Wrong: New Digital Art Biennale, October 31, 2019–February 29, 2020, Philadelphia, PA (Curated by Tyler Kline)
</p>

<p><span class="year">2019–2020 • </span> <b>Pivilion</b>, Exhibition, The Wrong: New Digital Art Biennale, October 31, 2019–February 29, 2020, The Darknet (Tor) (Curated by Dina Karadžić & Vedran Gligo)
</p>

<p><span class="year">2019</span> <b>/’fu:bar/ Glitch Art Exhibition</b>, Exhibition, /’fu:bar/ Festival, AKC Attack, October 5–10, 2019, Zagreb, Croatia (Curated by Vedran Gligo)
</p>

<p><span class="year">2019</span> <b>Interference Fest: Women Making Noise</b>, Screening, The North Door, September 7, 2019, Austin, TX (Curated by Tara Bhattacharya Reed)
</p>

<p><span class="year">2019</span> <b>A/V Evening</b>, Screening, Rhizome DC, July 28, 2019, Washington, DC (Curated by Pat Cain)
</p>

<p><span class="year">2019</span> <b>Video Worship</b>, Screening, Comfort Station, April 16, 2019, Chicago, IL (Curated by Sky Goodman)
</p>

<p><span class="year">2019</span> <b>Performing Media</b>, Exhibition, IU South Bend Gallery, February 17–March 8, 2019, South Bend, Indiana (Curated by Eric Souther)
</p>

<p><span class="year">2018</span> <b>Signal Flo</b>, Exhibition, SL8 Gallery, November 29, 2018, Gainesville, FL (Curated by Nic Silvestris)
</p>

<p><span class="year">2018</span> <b>Visibility</b>, Exhibition, Kirchner Cultural Centre, May 3–June 2, 2018, Buenos Aires, Argentina (Curated by Milena Pafundi)
</p>

<p><span class="year">2018</span> <b>Malcolm Cecil / Steve Moore</b>, Live Concert Visuals, Ambient Church, April 20, 2018, Brooklyn, NY 
</p>

<p><span class="year">2018</span> <b>Psychokinesis</b>, Screening, Flat Earth Film Festival, February 11, 2018, Seyðisfjörður, Iceland (Curated by Arndis Yr Hansdottír & Austin Thomasson)
</p>

<p><span class="year">2017</span> <b>Ende Tymes 9: Novo Apocalypso</b>, Screening, Outpost Artist Resources, November 11, 2017, Queens, NY (Curated by Bob Bellerue)
</p>

<p><span class="year">2017</span> <b>Snds Like Voices</b>, Screening, Digital Art Demo Space, May 12, 2017, Chicago, IL (Curated by Jon Cates)
</p>

<p><span class="year">2017</span> <b>Untitled</b>, Audiovisual Performance with Roger Tellier-Craig and Alexander Moskos, Ibrida*Pluri Festival, Eastern Bloc, April 27, 2017, Montreal, QC (Curated by Sonya Stefan)
</p>

<p><span class="year">2017</span> <b>Machine Girl / Fri(g)id / Showa No Yume / Skirtcloth</b>, Live Concert Visuals, The Mudlark Public Theatre, March 2, 2017, New Orleans, LA 
</p>

<p><span class="year">2016</span> <b>Living Breathing</b>, Screening, The Teaching Machine x 3TONcinema, Monk Space, December 14, 2016, Los Angeles, CA 
</p>

<p><span class="year">2016–2017 • </span> <b>VISPO A}HOY</b>, Touring Exhibition, Studiengalerie der VHS, Aachen; Aukloster, Monschau; Haus Basten, Geilenkirchen; Kulturbahnhof (kuba), Nettersheim; Schloss Burgau, Düren, August 31, 2016–April 22, 2017, Germany (Curated by Claudia Franken)
</p>

<p><span class="year">2016</span> <b>Glitch</b>, Installation & Screening, Backspace, August 18, 2016, Fayetteville, AR (Curated by Helen Maringer & Art of the Glitch)
</p>

<p><span class="year">2016</span> <b>r4wb1t5!: (A) RE:uɹnʇ TO: d1Ɍ+y̶ ̶N̶3WWW _M3DI∆ #Chicago</b>, Exhibition, TCC, May 13, 2016, Chicago, IL (Curated by Jon Cates)
</p>

<p><span class="year">2016</span> <b>Books</b>, Exhibition, arebyte Digital Art Centre, April 16–29, 2016, London, England (Curated by David Quiles Guilló)
</p>

<p><span class="year">2015</span> <b>Unstable Signal: Glitch Video</b>, Screening, Video Out, VIVO Media Arts Centre, November 10, 2015, Vancouver, Canada (Curated by Sara Gold & Dr. Garnet Hertz)
</p>

<p><span class="year">2015</span> <b>Semiotic Recipes</b>, Screening, Spectacle Theater, October 7, 2015, Brooklyn, NY (Curated by Cryptic Carousel)
</p>

<h3 id="Curation">Curation</h3>

<p><span class="year">2026</span> Curator: <b>Imaginary Prisons / RUBY / The Herbalists / Parlay Droner</b>, Audiovisual Concert, Ely Center of Contemporary Art, February 20, 2026, New Haven, CT
</p>

<p><span class="year">2023</span> Co-curator: <b>Out of Phase</b>, Group Exhibition & Audiovisual Concert, Phase Space, May 5, 2023, Brooklyn, NY
</p>

<p><span class="year">2022</span> Co-curator: <b>Mercuralia</b>, Group Exhibition & Audiovisual Concert, Phase Space, August 26, 2022, Brooklyn, NY
</p>

<p><span class="year">2022</span> Co-curator: <b>Hexafloralia</b>, Group Exhibition & Audiovisual Concert, Phase Space, May 6, 2022, Brooklyn, NY
</p>

<p><span class="year">2021</span> Co-curator: <b>Hyperborealis</b>, Group Exhibition & Audiovisual Concert, Phase Space, October 8, 2021, Brooklyn, NY
</p>

<p><span class="year">2021</span> Co-curator: <b>Photon Playground</b>, Group Exhibition & Audiovisual Concert, Phase Space, July 9, 2021, Brooklyn, NY
</p>

<p><span class="year">2019</span> Co-curator: <b>Télépresence III</b>, Video Art Expo & Audiovisual Concert, La Lumière, May 31, 2019, Montreal, QC
</p>

<p><span class="year">2018</span> Curator: <b>Télépresence II</b>, Video Art Expo & Audiovisual Concert, H0L0, April 6, 2018, Queens, NY
</p>

<p><span class="year">2017</span> Co-curator: <b>Télépresence</b>, Video Art Expo & Audiovisual Concert, La Lumière, May 5, 2017, Montreal, QC
</p>

<p><span class="year">2017</span> Curator: <b>Experimental Electronic AV</b>, Audiovisual Concert, Flux Factory, April 24, 2017, Queens, NY
</p>

<p><span class="year">2015–2016 • </span> Co-curator: <b>Nootropic Automat</b>, Group Exhibition, The Wrong: New Digital Art Biennale, October 31, 2015–January 8, 2016, Online + New Orleans, LA
</p>

<p><span class="year">2014</span> Co-organizer: <b>Zinefeast Vol. II</b>, Small Press Expo, Purchase College, May 3, 2014, Purchase, NY
</p>

<p><span class="year">2013</span> Curator: <b>g̥l̤i̊t͘c̄h̵ ȧr̴t̂ s̈h̸o̊w</b>, Group Exhibition, Purchase College, November 16, 2013, Purchase, NY
</p>

<p><span class="year">2013</span> Co-organizer: <b>Zinefeast Vol. I</b>, Small Press Expo, Purchase College, May 4, 2013, Purchase, NY
</p>

<h3 id="Workshops_talks_demos">Workshops, Talks & Demos</h3>

<p><span class="year">2025</span> <b>Analog Video Week</b>,  Visiting Artist Workshop, TV Club (Class),  Hamilton College, December 8, 2025, Clinton, NY
</p>

<p><span class="year">2025</span> <b>Scanlines.xyz: Maintaining an Online Forum for the Analog Video Community</b>,  Panel Discussion, Fauxbar Archive Series,  /’fu:bar/, December 2, 2025, Online
</p>

<p><span class="year">2025</span> <b>Women Innovating Sound Experience</b>,  Panel Discussion,  Union Docs, March 30, 2025, Queens, NY
</p>

<p><span class="year">2025</span> <b>Subtle Cards: Pulling Tarot Cards on the Web</b>,  Tech Talk/Demo, Presentations,  Recurse Center, March 26, 2025, Brooklyn, NY
</p>

<p><span class="year">2025</span> <b>Analog Video Signal Processing with Modular Synthesis</b>,  Interactive Demo, Demo-Palooza!,  Recurse Center, March 24, 2025, Brooklyn, NY
</p>

<p><span class="year">2025</span> <b>HTML Journal</b>,  Workshop, Low Tech Electronics Faire,  Temple University, March 12, 2025, Philadelphia, PA
</p>

<p><span class="year">2025</span> <b>TXXT CLUB: Mysterious Multiplayer Microblogging via SMS</b>,  Tech Talk/Demo, Presentations,  Recurse Center, March 12, 2025, Brooklyn, NY
</p>

<p><span class="year">2024</span> <b>Analog Video Week</b>,  Visiting Artist Workshop, TV Club (Class),  Hamilton College, December 12, 2024, Clinton, NY
</p>

<p><span class="year">2024</span> <b>Everything I Know About RSS & Atom</b>,  Tech Talk,  Kingston Open Source, December 3, 2024, Kingston, NY
</p>

<p><span class="year">2024</span> <b>Intro to Analog Video Signals</b>,  Workshop,  Public Space One, July 5, 2024, Iowa City, IA
</p>

<p><span class="year">2024</span> <b>Intro to Video Feedback with Cameras</b>,  Workshop Series,  Polyphase Portal, March 11–April 1, 2024, Online
</p>

<p><span class="year">2024</span> <b>Intro to Live Visuals</b>,  Workshop,  The Psychic Garden, March 2, 2024, Rochester, NY
</p>

<p><span class="year">2024</span> <b>Making Fun, Simple Websites with Handwritten HTML/CSS</b>,  Workshop Series,  Polyphase Portal, February 12–March 4, 2024, Online
</p>

<p><span class="year">2024</span> <b>Peertube: An Open-Source, Federated Video Platform</b>,  Tech Talk/Demo,  Kingston Open Source, February 7, 2024, Kingston, NY
</p>

<p><span class="year">2024</span>  Artist Talk/Demo, Sound,  Luck Dragon, January 25, 2024, Delhi, NY
</p>

<p><span class="year">2023</span>  Artist Talk/Interactive Demo, Creative Technology Forum (Class),  CalArts, October 22, 2023, Santa Clarita, CA
</p>

<p><span class="year">2023</span> <b>Intro to Live Visuals</b>,  Workshop,  Indexical, October 18, 2023, Santa Cruz, CA
</p>

<p><span class="year">2023</span> <b>Intro to Live Visuals</b>,  Workshop,  Cat Factory, October 13, 2023, San Francisco, CA
</p>

<p><span class="year">2023</span> <b>Intro to Live Visuals</b>,  Workshop,  Pinebox Studio, October 6, 2023, Eugene, OR
</p>

<p><span class="year">2023</span>  Visiting Artist Workshop, Digital Imaging (Class),  University of Oregon, October 4, 2023, Eugene, OR
</p>

<p><span class="year">2023</span> <b>Intro to Live Visuals</b>,  Workshop,  Synth Library Portland x Creative and Emergent Technology Institute, September 16, 2023, Portland, OR
</p>

<p><span class="year">2023</span> <b>Intro to Live Visuals</b>,  Workshop,  Patchwerks, September 8, 2023, Seattle, WA
</p>

<p><span class="year">2023</span> <b>Intro to Live Visuals</b>,  Workshop,  Roosevelt Library, July 19, 2023, Minneapolis, MN
</p>

<p><span class="year">2023</span> <b>Intro to Live Visuals</b>,  Workshop,  Public Space One, June 30, 2023, Iowa City, IA
</p>

<p><span class="year">2023</span> <b>Video Arts Open Studio</b>,  Interactive Demo,  FEED Media Art Center, June 23, 2023, Erie, PA
</p>

<p><span class="year">2022</span>  Visiting Artist Workshop, Real-Time AV (Class),  NYU Tandon School of Engineering, November 30, 2022, Brooklyn, NY
</p>

<p><span class="year">2022</span> <b>Analog Video Week</b>,  Visiting Artist Workshop, TV Club (Class),  Hamilton College, November 3, 2022, Clinton, NY
</p>

<p><span class="year">2021</span> <b>Electromagnetic Earth</b>,  Artist Talk, Digital Dish,  Ljudmila Lab, November 23, 2021, Online +  Ljubljana, Slovenia
</p>

<p><span class="year">2021</span> <b>Noisy Visual Presents: Phase Space Collective</b>,  Visiting Artist Workshop,  Wesleyan University, November 12, 2021, Middletown, CT
</p>

<p><span class="year">2021</span>  Filmmakers' Panel Discussion,  Ann Arbor Film Festival, March 26, 2021, Ann Arbor, MI
</p>

<p><span class="year">2020</span>  Visiting Artist Talk, Realtime (Class),  School of the Art Institute of Chicago, November 10, 2020, Chicago, IL
</p>

<p><span class="year">2020</span> <b>Modulating Material</b>,  Artist Talk, Vector Hack Festival,  Deltalab, October 3, 2020, Online + Rijeka, Croatia
</p>

<p><span class="year">2017</span>  Visiting Artist Talk, Digital Animation (Class),  San Francisco Art Institute, April 11, 2017, San Francisco, CA
</p>

<h3 id="Residencies">Residencies</h3>

<p><span class="year">2025</span> <b>Self-Directed Learning Retreat</b>, Recurse Center, February 16–March 27, 2025, Brooklyn, NY
</p>

<p><span class="year">2023</span> <b>Artist Residency</b>, Coaxial Arts, October 24–31, 2023, Los Angeles, CA
</p>

<p><span class="year">2023</span> <b>Artist Residency</b>, FEED Media Art Center, June 17–24, 2023, Erie, PA
</p>

<p><span class="year">2017</span> <b>Artist Residency</b>, Signal Culture, August 31–September 7, 2017, Owego, NY
</p>

<p><span class="year">2014</span> <b>Artist Residency</b>, O.Foundation, June 1–July 24, 2014, Berlin, Germany
</p>

<h3 id="Publications_broadcasts">Publications & Broadcasts</h3>

<p><span class="year">2024–Present • </span> <b>Zine Club</b>, Self-Published Subscription Series; 400+ copies distributed across all editions, March 2024–Present 
</p>

<p><span class="year">2024</span> <b>Lost Poem</b>, <i>Chronogram</i> Magazine, February 2024 Issue, January 2024 (Poetry editor: Phillip X Levine)
</p>

<p><span class="year">2023</span> <b>Artemisia Grove</b>, <i>Elmet Brae: The Land</i> Compilation Album, Beldam Records, October 2023 (Curated by Orllewin)
</p>

<p><span class="year">2020</span> <b>From Material Space(time) into Electronic Space(time): Interfaces, Simulations, Hybridizations</b>, M.F.A. Thesis Book; Self-published in edition of 150, June 2020 
</p>

<p><span class="year">2020</span> <b>Transience</b>, <i>Solace</i> Compilation Album, April 2020 (Curated by Testu Collective & ÉMU)
</p>

<p><span class="year">2018</span> <b>Raster Scan Wanderer</b>, <i>Semiotic Recipes Vol. III</i> VHS Compilation, Cryptic Carousel, October 2018 
</p>

<p><span class="year">2018</span> <b>Field Recording</b>, Episode 87, <i>Good Point</i> Podcast, May 2018 (Hosted by Rafaël Rozendaal & Jeremy Bailey)
</p>

<p><span class="year">2018</span> <b>Live Recording from Ambient Church</b>, Episode 23.3, <i>Here Comes Everybody</i> Cable Access TV Show, March 2018 (Curated by Will Erokan)
</p>

<p><span class="year">2017</span> <b>Field Recording</b>, Episode 46, <i>Good Point</i> Podcast, August 2017 (Hosted by Rafaël Rozendaal & Jeremy Bailey)
</p>

<p><span class="year">2017</span> <b>Three Asymptotic Approaches Towards the Singularity</b>, Episode 12.1, <i>Here Comes Everybody</i> Cable Access TV Show, April 2017 (Curated by Will Erokan)
</p>

<p><span class="year">2017</span> <b>Harmonic Phase Experiment 17</b>, Episode 9.4, <i>Here Comes Everybody</i> Cable Access TV Show, January 2017 (Curated by Will Erokan)
</p>

<p><span class="year">2016</span> <b>Florida Avenue</b>, <i>Semiotic Recipes Vol. II</i> VHS Compilation, Cryptic Carousel, May 2016 
</p>

<p><span class="year">2015</span> <b>Monday</b>, <i>Semiotic Recipes Vol. I</i> VHS Compilation, Cryptic Carousel, September 2015 
</p>

