---
layout: default
customStyle: >
  :root {
    --main-bg-color:#dae6e1;
    --main-bg-gradient:radial-gradient(#c1e0ca, #c2dde8, #e1e7d7);
  }
---

<div class="about-header">

  {% image "https://s3.amazonaws.com/palomakop.tv/pk_portrait_3.jpg", "Image of Paloma Kop in silhouette with video feedback patterns", 720, "" %}

  <div class="about-header-text">

    <h2>
      Paloma Kop
    </h2>

    <!-- MORPHING TEXT -->

    <h3 id="morph-text">
      <span id="morphtext1">Multimedia Artist</span>
      <span id="morphtext2"></span>
    </h3>

    <script src="/js/textmorph.js"></script>

    <!-- END MORPHING TEXT -->


    <nav class="bold">

      <ul>
        <li>
          <div class="button"><a href="/now">Now</a></div>
        </li>
        <li>
          <div class="button"><a href="/contact">Contact</a></div>
        </li>
        <li>
          <div class="button"><a href="/newsletter">Newsletter</a></div>
        </li>
        <li>
          <div class="button"><a href="/resume">Resumé</a></div>
        </li>
        <li>
          <div class="button"><a href="/cv">CV</a></div>
        </li>
        <li>
          <div class="button"><a href="/zine-club">Zine Club</a></div>
        </li>
      </ul>
    
    </nav>
  </div>

</div>

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/ramp.svg" class="about-title-graphic" alt=""/> About
  </h2>

  <p>
    I am an artist, software developer, and educator from NYC and Woodstock, NY. I recently moved to New Haven, Connecticut, but still visit NY often. I'm currently doing a batch at {% extLink "Recurse Center" "https://recurse.com" %}, where I'm building web apps and experimenting with code. In the past, I've taught art and coding classes and workshops, worked as a software developer and IT solutions architect, run community spaces both online and off, and performed live visuals and music at events and art spaces across North America.
  </p>
  <p>
    This is my personal website, which I built from scratch with {% extLink "11ty" "https://11ty.dev" %}. I feel that personal websites and blogs are very important, especially at this moment in the internet age, when most online social spaces are controlled by large companies with anti-social incentives. I also run open-source infrastructure on my own server (such as an RSS reader and meta-search-engine) and use decentralized social media (find me on the fediverse as <code>@palomakop@merveilles.town</code>, and on matrix as <code>@palomakop:polyphaseportal.xyz</code>).
  </p>
  <p>
    Other things I enjoy include bicycling, modular synthesis, yoga, meditation, and being in nature. I've spent time living in a yurt, a converted school bus, a camper van, and out of a backpack.
  </p>

  <details>
    <summary>Third-person artist bio</summary>
    <p>
      Paloma Kop is an experimental multimedia artist and creative technologist currently based in New Haven, CT. Their practice incorporates electronic media, from analog video and synthesizers to digital systems and code, as well as drawing, print, and liquids. They are especially interested in feedback loops, recursion, self-organizing and emergent structures, and patterns in nature.
    </p>
    <p>
      They received an <a href="/mfa/">MFA</a> in Electronic Integrated Arts at Alfred University in 2020, and a BS in Visual Arts and Computer Science from Purchase College in 2014. They have shown work and performed at spaces and events such as Ambient Church (NYC), Eastern Bloc (Montréal), and Ann Arbor Film Festival (Michigan). They have done visiting artist talks and workshops at universities such as CalArts, NYU, and SAIC.
    </p>
  </details>

</div>

{% comment %} 
<h2><img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/triangle.svg" class="about-title-graphic" alt=""/> Artist Bio</h2>
{% endcomment %}

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/sine.svg" class="about-title-graphic" alt=""/> Available for Work
  </h2>

  <p>
    I'm currently in search of a new position in web development (front-end, full stack, design engineering, or something similar that straddles the creative and the technical). Feel free to take a look at my <a href="/resume">resumé</a>, check out some of my {% extLink "technical projects" "https://github.com/palomakop/technical-projects-list" %}, and <a href="/contact">get in touch</a>!
  </p>

</div>

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/ampmod.svg" class="about-title-graphic" alt=""/> Explore This Site
  </h2>

  <p>
    Thanks for visiting my little corner of the internet. I'm glad you're here. Feel free to stay awhile and explore.
  </p>

  <ul>
    <li>
      My <a href="/now">now</a> page holds links to current and upcoming things, and small notes about what I'm up to.
    </li>
    <li>
      An assortment of things I've made over the years exists on the <a href="/work">work</a> page.
    </li>
    <li>
       Recent activities appear periodically on my <a href="/blog">blog</a>.
    </li>
    <li>
      My <a href="/newsletter">email newsletter</a> is a space for thoughts, personal updates, and announcements about upcoming things.
    </li>
    <li>
      The <a href="/colophon">colophon</a> contains meta information about this site.
    </li>
  </ul>

</div>

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/square.svg" class="about-title-graphic" alt=""/> Find Me Elsewhere
  </h2>

  <nav>

    {% include "socials.liquid" %}

  </nav>

</div>

<svg id="filters">
  <defs>
    <filter id="threshold">
      <feColorMatrix in="SourceGraphic"
          type="matrix"
          values="1 0 0 0 0
                  0 1 0 0 0
                  0 0 1 0 0
                  0 0 0 255 -100" />
    </filter>
  </defs>
</svg>
