---
layout: default
customStyle: >
  :root {
    --main-bg-color:#dae6e1;
    --main-bg-gradient:radial-gradient(#c1e0ca, #c2dde8, #e1e7d7);
  }
---

<div class="about-header">

  {% image "https://s3.amazonaws.com/palomakop.tv/pk_portrait_3.jpg", "Image of Paloma Kop in silhouette with video feedback patterns", 720, "" %}

  <div class="about-header-text">

    <h2>
      Paloma Kop
    </h2>

    <!-- MORPHING TEXT -->

    <h3 id="morph-text">
      <span id="morphtext1">Multimedia Artist</span>
      <span id="morphtext2"></span>
    </h3>

    <script src="/js/textmorph.js"></script>

    <!-- END MORPHING TEXT -->


    <nav class="bold">

      <ul>
        <li>
          <div class="button"><a href="/now">Now</a></div>
        </li>
        <li>
          <div class="button"><a href="/contact">Contact</a></div>
        </li>
        <li>
          <div class="button"><a href="/newsletter">Newsletter</a></div>
        </li>
        <li>
          <div class="button"><a href="/resume">Resumé</a></div>
        </li>
        <li>
          <div class="button"><a href="/cv">CV</a></div>
        </li>
        <li>
          <div class="button"><a href="/zine-club">Zine Club</a></div>
        </li>
      </ul>
    
    </nav>
  </div>

</div>

<div class="about-text">


  <h2><img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/ramp.svg" class="about-title-graphic" alt=""/> Artist Bio</h2>

  <nav class="script-button">
    <ul>
      <li>
        <button id="first-person-button" onclick="firstPerson()" class="current-link">First-Person Bio</button>
      </li>
      <li>
        <button id="third-person-button" onclick="thirdPerson()">Third-Person Bio</button>
      </li>
    </ul>
  </nav>

  <div id="bio-text-1st-person">
    <p>
      I am an experimental multimedia artist and creative technologist currently based in New Haven, CT. My practice incorporates electronic media, from analog video and synthesizers to digital systems and code, as well as drawing, print, and liquids. I am especially interested in feedback loops, recursion, self-organizing and emergent structures, and patterns in nature.
    </p>
  
    <p>
      I received an <a href="/mfa/">MFA</a> in Electronic Integrated Arts at Alfred University in 2020, and a BS in Visual Arts and Computer Science from Purchase College in 2014. I have shown work and performed at spaces and events such as Ambient Church (NYC), Eastern Bloc (Montréal), and Ann Arbor Film Festival (Michigan). I have done visiting artist talks and workshops at universities such as CalArts, NYU, and SAIC.
    </p>
  </div>
  <div id="bio-text-3rd-person" style="display:none;">
    <p>
      Paloma Kop is an experimental multimedia artist and creative technologist currently based in New Haven, CT. Their practice incorporates electronic media, from analog video and synthesizers to digital systems and code, as well as drawing, print, and liquids. They are especially interested in feedback loops, recursion, self-organizing and emergent structures, and patterns in nature.
    </p>
  
    <p>
      They received an <a href="/mfa/">MFA</a> in Electronic Integrated Arts at Alfred University in 2020, and a BS in Visual Arts and Computer Science from Purchase College in 2014. They have shown work and performed at spaces and events such as Ambient Church (NYC), Eastern Bloc (Montréal), and Ann Arbor Film Festival (Michigan). They have done visiting artist talks and workshops at universities such as CalArts, NYU, and SAIC.
    </p>
  </div> 
 
 <script>
  var firstPersonBioText = document.getElementById("bio-text-1st-person");
  var thirdPersonBioText = document.getElementById("bio-text-3rd-person");
  var firstPersonButton = document.getElementById("first-person-button");
  var thirdPersonButton = document.getElementById("third-person-button");

  function firstPerson() {
    firstPersonBioText.style.display = 'block';
    thirdPersonBioText.style.display = 'none';
    firstPersonButton.classList.add('current-link');
    thirdPersonButton.classList.remove('current-link');
  }

  function thirdPerson() {
    firstPersonBioText.style.display = 'none';
    thirdPersonBioText.style.display = 'block';
    firstPersonButton.classList.remove('current-link');
    thirdPersonButton.classList.add('current-link');
  }
 </script>

</div>

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/sine.svg" class="about-title-graphic" alt=""/> Available for Work
  </h2>

  <p>
    I'm currently in search of a new position in software development, IT, AV, and/or education. I'm based in New Haven, and I'm also often in NYC. Feel free to take a look at my <a href="/resume">resumé</a> and <a href="/contact">get in touch</a>!
  </p>

</div>

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/triangle.svg" class="about-title-graphic" alt=""/> Move Slow and Fix Things
  </h2>

  <p>
    As a practitioner of tech and electronic media, I try to counterbalance the cultural push towards compulsive productivity. I believe that technology should be used to enrich people's lives. Dopamine-draining corporate social media networks, invasive data harvesting, and short-sighted tech bubbles such as cryptocurrency and "artificial intelligence" all serve interests contrary to the long-term well-being of humans and our planet.
  </p>
  <p>
    DIY websites, decentralized networks, and creative communities inspire me to seek another path. A path that moves at a human speed, with space to breathe. One that values careful cultivation over explosive growth, thoughtfulness over conformity.
  </p>

</div>

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/ampmod.svg" class="about-title-graphic" alt=""/> Explore This Site
  </h2>

  <p>
    Thanks for visiting my little corner of the internet. I'm glad you're here. Feel free to stay awhile and explore.
  </p>

  <ul>
    <li>
      My <a href="/now">now</a> page holds links to my upcoming events and workshops (if any), and small notes about what I'm up to.
    </li>
    <li>
      An assortment of things I've made over the years exists on the <a href="/work">work</a> page.
    </li>
    <li>
       Recent activities appear periodically on my <a href="/blog">blog</a>.
    </li>
    <li>
      My <a href="/newsletter">email newsletter</a> is a space for thoughts, personal updates, and announcements about upcoming things.
    </li>
    <li>
      The <a href="/colophon">colophon</a> contains meta information about this site.
    </li>
  </ul>

</div>

<div class="about-text">

  <h2>
    <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/square.svg" class="about-title-graphic" alt=""/> Find Me Elsewhere
  </h2>

  <nav>

    {% include "socials.liquid" %}

  </nav>

</div>

<svg id="filters">
  <defs>
    <filter id="threshold">
      <feColorMatrix in="SourceGraphic"
          type="matrix"
          values="1 0 0 0 0
                  0 1 0 0 0
                  0 0 1 0 0
                  0 0 0 255 -100" />
    </filter>
  </defs>
</svg>



