---
layout: default
title: Links
containerType: wide
customStyle: >
  :root {
    --main-bg-color:#f2d6d6;
    --main-bg-gradient:radial-gradient(#c7d2f0, #e0d4ef, #f2d6d6);
  }
---

<h2>Links & Resources</h2>

<links-index>
  <links-list>
    <h3>Find me around the web</h3>
    <ul>
      <li>
        {% extLink "Mastodon", "https://merveilles.town/@palomakop" %} is the main social media I use. It's part of the {% extLink "Fediverse", "https://en.wikipedia.org/wiki/Fediverse" %}.
      </li>
      <li>
        {% extLink "", "" %}
      </li>
    </ul>
  </links-list>

  <links-list>
    <h3>Artists and cool people</h3>
    <ul>
      <li>
        {% extLink "", "" %}
      </li>
      <li>
        {% extLink "", "" %}
      </li>
    </ul>
  </links-list>

  <links-list>
    <h3>Art spaces</h3>
    <ul>
      <li>
        {% extLink "", "" %}
      </li>
      <li>
        {% extLink "", "" %}
      </li>
    </ul>
  </links-list>

  <links-list>
    <h3>Educational resources</h3>
    <ul>
      <li>
        {% extLink "", "" %}
      </li>
      <li>
        {% extLink "", "" %}
      </li>
    </ul>
  </links-list>

  <links-list>
    <h3>Neat tools and toys</h3>
    <ul>
      <li>
        {% extLink "", "" %}
      </li>
      <li>
        {% extLink "", "" %}
      </li>
    </ul>
  </links-list>

  <links-list>
    <h3>On personal websites</h3>
    <ul>
      <li>
        {% extLink "", "" %}
      </li>
      <li>
        {% extLink "", "" %}
      </li>
    </ul>
  </links-list>

</links-index>