---
layout: noteItem
title: Links
containerType: wide
customStyle: >
  :root {
    --main-bg-color:#f2d6d6;
    --main-bg-gradient:radial-gradient(#c7d2f0, #e0d4ef, #f2d6d6);
  }
tags: notes
description: Tendrils stretching outward across the web
notecardStyle: 'background-image:radial-gradient(#c7d2f0, #e0d4ef, #f2d6d6);'
---

<p>What's a good website without a page filled with links to other cool stuff? This is a node with many tendrils stretching outward across the web. It's the opposite of a walled garden; go forth and explore!</p>

<p>Do you think something should be here that isn't? Or does something that is here seem broken or inactive? <a href="/contact">Let me know</a>.</p>

<h3>Find me around the web</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Mastodon", "https://merveilles.town/@palomakop" %} is the main social media I use. It's part of the {% extLink "Fediverse", "https://en.wikipedia.org/wiki/Fediverse" %}.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> I share videos on both {% extLink "YouTube", "https://www.youtube.com/@palomakop" %} and {% extLink "PeerTube", "https://videos.scanlines.xyz/a/palomakop/videos" %}.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> I don't enjoy {% extLink "Instagram", "https://www.instagram.com/palomakop/" %} or {% extLink "LinkedIn", "https://www.linkedin.com/in/palomakop/" %} but sometimes I have to use them.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> I also have a {% extLink "Bandcamp", "https://palomakop.bandcamp.com/" %}, though I haven't released music in a while.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> I keep some of my code on {% extLink "GitHub", "https://github.com/palomakop" %}.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> I'm not on Bluesky but you can follow my Mastodon account on there via the {% extLink "bridge", "https://bsky.app/profile/fedi.palomakop.tv" %}.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> My {% extLink "journal", "https://journal.palomakop.tv" %} is a home-brewed app running on a raspberry pi in my studio.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> I also have a text-adventure themed mini site called {% extLink "the lab", "https://lab.palomakop.tv" %} where I experiment with web/code things.</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> I use {% extLink "are.na", "https://www.are.na/paloma-kop/channels" %} to stash visual inspiration and bookmarks.</p>
  </links-item>
</links-index>

<h3>Cool people with cool websites</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Andrei Jay", "https://andreijaycreativecoding.com/" %} (New Haven), my partner and collaborator who designs software tools for video art</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Faruqee Driscoll Studio", "https://faruqeedriscollstudio.com/" %} (New Haven), painter duo working with color and interference patterns, who employ me as a studio assistant</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "MSHR", "https://mshr.info/" %} (nomadic), virtuosic art, music, and performance duo</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Hundred Rabbits", "https://100r.co/site/home.html" %} (nomadic), a sailboat-based code, game, and art studio</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Strange Rays", "https://strangerays.com/" %} (Brooklyn), video and media artist</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Ivy Meadows", "https://www.ivymeadows.net/" %} (Brooklyn), video, sound, and color artist</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Cable Visions", "https://cablevisions.tv/" %} (Brooklyn), video synthesist and educator</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Chromadetic", "https://chromadetic.com/" %} (Brooklyn), occult symbol designer, lumimancer, and multimedia artist</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Lee Tusman", "https://leetusman.com/" %} (Brooklyn), artist and hacker</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Valeria Divinorum", "https://valeriadivinorum.com/" %} (Queens), glass artist and sculptor of light</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Maks Oker", "https://landbuoy.xyz/" %} (Alfred, NY), sonic, visual, electro-choreographic noodler</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Brian Crabtree", "https://nnnnnnnn.co/" %} (Delhi, NY), musician, toolmaker, community builder</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Aloe", "https://aloe.gay/" %} (Providence, RI), trumpeter, mage</p>
  </links-item>
</links-index>

<h3>Online communities</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Scanlines.xyz", "https://scanlines.xyz/" %}, a forum for video art that I help run</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Merveilles.town", "https://merveilles.town/about" %}, a community and fediverse server for creative and technical people interested in building a better future</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "XXIIVV Webring", "https://webring.xxiivv.com/" %}, a directory of personal websites; overlaps with the Merveilles community</p>
  </links-item>
</links-index>

<h3>IRL Spaces</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "MakeHaven", "https://www.makehaven.org/" %} (New Haven)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Recurse Center", "https://www.recurse.com/" %} (Brooklyn)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Signal Culture", "https://signalculture.org/" %} (Upstate NY)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Media Archaeology Lab", "https://www.mediaarchaeologylab.com/" %} (Colorado)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Coaxial Arts", "https://coaxialarts.org/" %} (Los Angeles, CA)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Indexical", "https://www.indexical.org/" %} (Santa Cruz, CA)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Insight Meditation Society", "https://dharma.org/" %} (Massachusetts)</p>
  </links-item>
</links-index>

<h3>Educational resources</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Learning HTML/CSS Wiki", "https://wiki.polyphaseportal.xyz/books/learning-html-css" %}, resources I collected while leading a course</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Video Feedback with Composite Cameras Wiki", "https://wiki.polyphaseportal.xyz/books/video-feedback-with-composite-cameras" %}, from another course I led</p>
  </links-item>
</links-index>

<h3>Weird web</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> <a href="https://pbat.ch/codex/" target="_blank" rel="noopener"><span style="color:#6dba82">t</span><span style="color:#07b39b">h</span><span style="color:#1098ad">e</span><span style="color:#5073b8"> </span><span style="color:#a166ab">c</span><span style="color:#ef4e7b">a</span><span style="color:#f37055">n</span><span style="color:#f79533">d</span><span style="color:#6dba82">y</span><span style="color:#07b39b"> </span><span style="color:#1098ad">c</span><span style="color:#5073b8">r</span><span style="color:#a166ab">y</span><span style="color:#ef4e7b">s</span><span style="color:#f37055">t</span><span style="color:#f79533">a</span><span style="color:#6dba82">l</span><span style="color:#07b39b"> </span><span style="color:#1098ad">r</span><span style="color:#5073b8">a</span><span style="color:#a166ab">i</span><span style="color:#ef4e7b">n</span><span style="color:#f37055">b</span><span style="color:#f79533">o</span><span style="color:#6dba82">w</span><span style="color:#07b39b"> </span><span style="color:#1098ad">c</span><span style="color:#5073b8">o</span><span style="color:#a166ab">d</span><span style="color:#ef4e7b">e</span><span style="color:#f37055">x</span></a></p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "sandspiel", "https://sandspiel.club/" %}</p>
  </links-item>
</links-index>

<h3>On personal websites</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "byhand.website", "https://byhand.website/" %}, an open guide to hand coding websites</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "DIY Web for Beginners", "https://hnr.fyi/diy_websites/workshop/" %}, workshop notes by Honor Ash</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "You should have a website", "https://nora.zone/manifesto.html" %} by Nora Reed</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "The internet used to be fun", "https://projects.kwon.nyc/internet-is-fun/" %}, small web manifestos collected by Rachel Kwon</p>
  </links-item>


  
</links-index>


<h3>Music I like</h3>

<links-index>
  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "World Receiver by Tetsu Inoue", "https://infraction.bandcamp.com/album/world-receiver" %} (ambient)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Zyprazol by Sculpture", "https://plasticinfinite.bandcamp.com/album/zyprazol" %} (chaotic tape music)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "Imagine This Is A High Dimensional Space of All Possibilities by James Holden", "https://jamesholden.bandcamp.com/album/imagine-this-is-a-high-dimensional-space-of-all-possibilities" %} (electronic)</p>
  </links-item>

  <links-item>
    <p><span class="bullet-char">❋</span> {% extLink "The Saddle of the Increate by Sun Araw", "https://sunaraw.bandcamp.com/album/the-saddle-of-the-increate" %} (psychedelic)</p>
  </links-item>
</links-index>