---
layout: workItem
title: Space(time) Thresholds
customStyleSheet: mfa_style
bgImage: https://s3.amazonaws.com/palomakop.tv/mfa/refraction_projection.jpg
bgImageOpacity: 0.25
dark: true
lightbox: true
tags: work
workYear: "2020"
description: "MFA Thesis at Alfred University"
workTags: ["thesis"]
thumbnail: https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/spacetime_thumbnail.jpg
thumbnailAlt: Graphic from cover of thesis book, titled From Material Space(time) into Electronic Space(time)

---

<h2>
  <img src="https://s3.amazonaws.com/palomakop.tv/mfa/spacetime.svg" alt="From Material Space(time) into Electronic Space(time): Interfaces, Signals, Hybridizations" style="width: 400px; aspect-ratio:1;" class="centered"/>
</h2>
<h3 class="subtitle">
  MFA Thesis of Paloma Kop<br/>
  Alfred University, 2020
</h3>

<p>
  During my studies at Alfred University, I developed a body of work called <i>Space(time) Thresholds</i>, and wrote a book about my practice and ideas. The work combines analog and digital signal processing with material-based processes such as light refraction, cymatics, ferrofluid, electromagnets, and other experimental media. The book considers how we as humans move between hybrid spaces, breaking down illusory barriers between electronic art, traditional media, and scientific curiosity.
</p>

<p>
  The covid-19 shutdown disrupted the final semester of my program, so I had to finish my studies while sheltering-in-place in my off-campus apartment. I was unable to host a traditional MFA thesis exhibition, so I created a website to showcase my work, and did a {% extLink "livestream performance" "https://youtu.be/ith2ja00n-k?si=IchHVgaII787chvt" %} to celebrate the virtual opening.
</p>

<p>
  The first edition of the book was a run of 120 copies printed on gray paper and bound by {% extLink "Liaizon Wakest" "https://wake.st" %} in New Orleans, LA in 2020. I originally planned to print them myself, but I lost access to the university facilities due to covid, but thanks to Liaizon, we were still able to produce a run of handmade books.
</p>

<p>
  After those ran out, I created a second edition using a print-on-demand service, which is still available.
</p>

<h3 id="book">Thesis Book</h3>

<p>
  The full book is freely accessible as a PDF file. You can also order a printed book (second edition) via print-on-demand.
</p>


<div class="tier-gallery">
  <div class="tier">
    <div class="tier-upper">
      <a href="https://palomakop.s3.us-east-1.amazonaws.com/palomakop_thesis_book_digital.pdf" target="_blank" rel="noopener">
        {% image "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/digital_book.png", "Digital book", 720 %}
      </a>
    </div>

    <div class="tier-lower">
      <h2>Digital Book</h2>

      <nav class="centered bold">
        <ul>
          <li>
            <a href="https://palomakop.s3.us-east-1.amazonaws.com/palomakop_thesis_book_digital.pdf" target="_blank" rel="noopener">Access the PDF edition</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <div class="tier">
    <div class="tier-upper">
      <a href="https://www.lulu.com/shop/paloma-kop/from-material-spacetime-into-electronic-spacetime/paperback/product-28vz8j.html?page=1&pageSize=4" target="_blank" rel="noopener">
        {% image "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/physical_book.png", "Physical book", 720 %}
      </a>
    </div>

    <div class="tier-lower">
      <h2>Physical Book</h2>

      <nav class="centered bold">
        <ul>
          <li>
            <a href="https://www.lulu.com/shop/paloma-kop/from-material-spacetime-into-electronic-spacetime/paperback/product-28vz8j.html?page=1&pageSize=4" target="_blank" rel="noopener">Order from Lulu</a>
            </li>
          </ul>
        </nav>

    </div>
  </div>
</div>

<p>Here are some photos of the books:</p>

{% photoGrid "three-column" %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/1st_ed.jpg", "First edition front cover", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/1st_ed_open.jpg", "First edition interior", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/2nd_ed_0.jpg", "Second edition front cover", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/2nd_ed_1.jpg", "Second edition interior", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/2nd_ed_2.jpg", "Second edition interior", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/2nd_ed_3.jpg", "Second edition interior", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/2nd_ed_4.jpg", "Second edition interior", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/2nd_ed_5.jpg", "Second edition interior", true, false %}
{% photoGridItem "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/book/2nd_ed_back.jpg", "Second edition back cover", true, false %}
{% endphotoGrid %}


<h3>Thesis Work</h3>

<p>The following pieces are part of the <i>Space(time) Thresholds</i> body of work, and are gathered here as a supplement to the book.

<h4>
  Video
</h4>

{% photoGrid "three-column" %}
<div class="video-grid-item">
  <a href="https://videos.scanlines.xyz/video-playlists/embed/a8335ee7-53c1-46a5-abd3-c9af629ceca6?warningTitle=0&peertubeLink=0&p2p=0">
    {% image "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/plasmaplex.jpg", "Plasmaplex video still", "720", "" %}
  </a>
  <div class='video-thumb-caption'>
    <h5>Experiments in Public</h5>
    <ul>
      <li>
        <a href="/work/experiments-in-public" class="lightbox-ignore">Portfolio page</a>
      </li>
      <li>
        {% extLink "Youtube", "https://www.youtube.com/watch?v=BgycNAz0UT8&list=PL41DFNad8mn4l8ykIJrmZShEHGzf0yKGZ", "lightbox-ignore" %}
      </li>
      <li>
        {% extLink "Peertube", "https://videos.scanlines.xyz/w/p/mLEJEqJsaiLT9BNpXF4QdE", "lightbox-ignore" %}
      </li>
    </ul>
  </div>
</div>

<div class="video-grid-item">
  <a href="https://player.vimeo.com/video/1039120081?dnt=1&title=1&byline=0&portrait=0">
    {% image "https://s3.us-east-1.amazonaws.com/palomakop.tv/mfa/chere_chambre.jpg", "Chère Chambre video still", "720", "" %}
  </a>
  <div class='video-thumb-caption'>
      <h5>Chère Chambre</h5>
      <ul>
        <li>
          <a href="/work/chere-chambre" class="lightbox-ignore">Portfolio page</a>
        </li>
        <li>
          {% extLink "Youtube", "https://youtu.be/e37jAhDY3W4", "lightbox-ignore" %}
        </li>
        <li>
          {% extLink "Peertube", "https://videos.scanlines.xyz/w/45QAfppvYYrHxPbLfswSEB", "lightbox-ignore" %}
        </li>
      </ul>
    </div>
</div>
{% endphotoGrid %}

<h4>
  Optics
</h4>

{% photoGrid "three-column" %}
<div class="video-grid-item">
  <a href="https://player.vimeo.com/video/997233593?dnt=1&title=1&byline=0&portrait=0">
    {% image "https://s3.amazonaws.com/palomakop.tv/works/lumiagraph/lumiagraph_3_3000px.jpg", "Lumiagraph video still", "720", "" %}
  </a>
  <div class='video-thumb-caption'>
    <h5>Lumiagraph</h5>
    <ul>
      <li>
        <a href="/work/lumiagraph" class="lightbox-ignore">Portfolio page</a>
      </li>
      <li>
        {% extLink "Youtube", "https://youtu.be/TRoJq5V5N00", "lightbox-ignore" %}
      </li>
      <li>
        {% extLink "Peertube", "https://videos.scanlines.xyz/w/b4L8AUCZzHPb32v2S5ye5c", "lightbox-ignore" %}
      </li>
    </ul>
  </div>
</div>

<div class="video-grid-item">
  {% photoGridItem "https://s3.amazonaws.com/palomakop.tv/works/video-topography/video_topography_1_3000px.jpg", "Video Topography", true, false %}
  <div class='video-thumb-caption'>
    <h5>Video Topography</h5>
    <ul>
      <li>
        <a href="/work/video-topography" class="lightbox-ignore">Portfolio page</a>
      </li>
    </ul>
  </div>
</div>

<div class="video-grid-item">
   <a href="https://player.vimeo.com/video/1039119942?dnt=1&title=1&byline=0&portrait=0">
    {% image "https://s3.amazonaws.com/palomakop.tv/mfa/refraction_projection.jpg", "Refraction/Projection video still", "720", "" %}
  </a>
  <div class='video-thumb-caption'>
    <h5>Refraction/Projection</h5>
    <ul>
      <li>
        <a href="/work/refraction-projection/" class="lightbox-ignore">Portfolio page</a>
      </li>
      <li>
        {% extLink "Youtube", "https://youtu.be/De5QsIGKTkc", "lightbox-ignore" %}
      </li>
      <li>
        {% extLink "Peertube", "https://videos.scanlines.xyz/w/kvx9X2FErT5MkrUvMchcTJ", "lightbox-ignore" %}
      </li>
    </ul>
  </div>
</div>

{% endphotoGrid %}



<h4>
  Programming Material
</h4>

{% photoGrid "three-column" %}
<div class="video-grid-item">
  <a href="https://player.vimeo.com/video/997233812?dnt=1&title=1&byline=0&portrait=0">
    {% image "https://s3.amazonaws.com/palomakop.tv/works/decoherence/poster.jpg", "Decoherence video still", "720", "" %}
  </a>
  <div class='video-thumb-caption'>
    <h5>Decoherence</h5>
    <ul>
      <li>
        <a href="/work/decoherence" class="lightbox-ignore">Portfolio page</a>
      </li>
      <li>
        {% extLink "Youtube", "https://youtu.be/QR2SEAlNO_4", "lightbox-ignore" %}
      </li>
      <li>
        {% extLink "Peertube", "https://videos.scanlines.xyz/w/fG14BjGhMy1akAUjD83vBS", "lightbox-ignore" %}
      </li>
    </ul>
  </div>
</div>

<div class="video-grid-item">
  <a href="https://player.vimeo.com/video/997232124?dnt=1&title=1&byline=0&portrait=0">
    {% image "https://s3.us-east-1.amazonaws.com/palomakop.tv/works/ferrofluid/labyrinthine_poster.jpg", "Labyrinthine video still", "720", "" %}
  </a>
  <div class='video-thumb-caption'>
    <h5>Labyrinthine</h5>
    <ul>
      <li>
        <a href="/work/ferrofluid" class="lightbox-ignore">Portfolio page</a>
      </li>
      <li>
        {% extLink "Youtube", "https://youtu.be/eqCXh5uK1RM", "lightbox-ignore" %}
      </li>
      <li>
        {% extLink "Peertube", "https://videos.scanlines.xyz/w/spn7e1nLiHE6jzSbXruzcK", "lightbox-ignore" %}
      </li>
    </ul>
  </div>
</div>

<div class="video-grid-item">
  <a href="https://player.vimeo.com/video/997232647?dnt=1&title=1&byline=0&portrait=0">
    {% image "https://s3.us-east-1.amazonaws.com/palomakop.tv/works/ferrofluid/morphogenetic_fields_poster.jpg", "Morphogenetic Fields video still", "720", "" %}
  </a>
  <div class='video-thumb-caption'>
    <h5>Morphogenetic Fields</h5>
    <ul>
      <li>
        <a href="/work/ferrofluid" class="lightbox-ignore">Portfolio page</a>
      </li>
      <li>
        {% extLink "Youtube", "https://youtu.be/8NCAo_ljcRo", "lightbox-ignore" %}
      </li>
      <li>
        {% extLink "Peertube", "https://videos.scanlines.xyz/w/bi1q3w2cwf1Ciej7espqPJ", "lightbox-ignore" %}
      </li>
    </ul>
  </div>
</div>

{% endphotoGrid %}


