---
layout: default
mainClass: resume
title: Resumé
customStyle: >
  :root {
    --main-bg-color:#e9f6f0;
    --main-bg-gradient:none;
  }
permalink: false
---

<h2>Resumé</h2>

<p class="subtitle"><b>Paloma Kop,&nbsp;</b><span>Developer & Creative Technologist&nbsp;</span><span>● New Haven/NYC</span></p>

<nav>
  <ul>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/pkop_resume.pdf" target="_blank" rel="noopener">PDF Version</a>
    </li>
  </ul>
</nav>

<h3>Work Experience</h3>

<resume-org>
  <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/logos/frost.svg">
  <h4>Frost Productions</h4>
</resume-org>

<resume-role>
  <div>Video Technician</div>
  <div>Sept 2024 - Present</div>
</resume-role>

<ul>
  <li>
    On-site technician for video equipment and software for events
  </li>
  <li>
    Install and manage projectors, screens, cameras, playback devices, LED panels and lights
  </li>
  <li>
    Pivot quickly in changing situations, efficiently troubleshoot and resolve issues
</ul>

<resume-org>
  <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/logos/hamilton.svg">
  <h4>Hamilton College</h4>
</resume-org>

<resume-role>
  <div>Adjunct Professor of Animation</div>
  <div>Sept 2024 - Dec 2024</div>
</resume-role>

<ul>
  <li>
    Taught two sections of <i>Intro to Animation</i> to undergraduate students
  </li>
  <li>
    Developed curriculum on practice, theory, and history of animation and experimental film
  </li>
  <li>
    Instructed students on Mac platforms with Adobe Premiere Pro, Procreate, and Blender
  </li>
</ul>

<resume-org>
  <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/logos/moon_ark.svg">
  <h4>Self-Employed</h4>
</resume-org>

<resume-role>
  <div>Artist, Teacher, and Freelance Web Developer</div>
  <div>May 2023 - Sept 2024</div>
</resume-role>

<ul>
  <li>
    Traveled across the United States teaching media art workshops at local art spaces and attending artist residencies
  </li>
  <li>
    Taught online workshops on HTML/CSS and video art
  </li>
  <li>
    Developed websites, multimedia graphics, and IT infrastructure for clients that included artists, arts organizations, and small businesses
  </li>
</ul>

<resume-org>
  <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/logos/paramount.svg">
  <h4>Paramount</h4>
</resume-org>

<resume-role>
  <div>Manager of Workflow Solutions</div>
  <div>Sept 2021 - Apr 2023</div>
</resume-role>

<resume-role>
  <div>Workflow Developer</div>
  <div>Jan 2018 - Sept 2021</div>
</resume-role>

<ul>
  <li>
    Developed and managed internal workflow automation software and server infrastructure for video production, encoding, captioning, QC and review
  </li>
  <li>
    Developed and deployed APIs, microservices, and custom integrations with external services, using tools such as Python, Ruby, AWS, MongoDB, FFmpeg, and Javascript for a web-based UI
  </li>
  <li>
    Administrated server clusters running custom and enterprise software stacks, including CentOS, Windows, and Mac servers
  </li>
  <li>
    Captured user stories and developed custom solutions to streamline and automate technical tasks for teams throughout the production operations department
  </li>
  <li>
    Worked on-call shifts to support users and production teams and provided direct assistance and troubleshooting on time-sensitive issues
  </li>
  <li>
    Collaborated closely with my team to plan and advance our roadmap using Agile methodology
  </li>
</ul>

<resume-org>
  <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/logos/viacom.svg">
  <h4>Viacom</h4>
</resume-org>

<resume-role>
  <div>Video Editor & Encoder</div>
  <div>Sept 2017 - Jan 2018</div>
</resume-role>

<ul>
  <li>
    Edited clips and short-form video content for dozens of shows across Viacom's brands, including The Daily Show with Trevor Noah, Nathan for You, and MTV's Total Request Live
  </li>
  <li>
    Encoded video and podcast content and developed encoding profiles for a variety of platforms including Youtube, Instagram, Alexa, and custom streaming services 
  </li>
  <li>
    Captured feeds from live broadcast events and quickly clipped and encoded highlights for immediate release
  </li>
</ul>

<h3>Education</h3>

<resume-org>
  <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/logos/alfred.svg">
  <h4>Alfred University</h4>
</resume-org>

<resume-role>
  <div>MFA in Electronic Integrated Arts</div>
  <div>2020</div>
</resume-role>

<ul>
  <li>
    Teaching Assistant in <i>Junior Video</i> & <i>Digital Drawing</i>
  </li>
  <li>
    Digital Archive Assistant at <i>Institute for Electronic Arts</i>
  </li>
</ul>

<resume-org>
  <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/resume/logos/purchase.svg">
  <h4>Purchase College</h4>
</resume-org>

<resume-role>
  <div>Bachelor of Science in Visual Arts</div>
  <div>2014</div>
</resume-role>

<ul>
  <li>
    Minor in Mathematics & Computer Science
  </li>
  <li>
    Teaching Assistant in <i>Programming for Visual Artists</i> & <i>Art in the Age of Electronic Media</i>
  </li>
</ul>

<h3>Skills</h3>

<p class="skills"><span>Web Development</span> ● <span>HTML/CSS</span> ● <span>Javascript</span> ● <span>Eleventy</span> ● <span>Python</span> ● <span>Flask</span> ● <span>Ruby</span> ● <span>Agile</span> ● <span>Adobe</span> ● <span>Video</span>  ●  <span>Audio Visual</span> ● <span>Multimedia Design</span> ● <span>IT</span> ● <span>DevOps</span> ● <span>Workflow Automation</span> ● <span>Education</span></p>

<h3>See Also</h3>

<nav>
  <ul>
    <li>
      <a href="https://github.com/palomakop" target="_blank" rel="noopener">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/palomakop/" target="_blank" rel="noopener">LinkedIn</a>
    </li>
    <li>
      <a href="/cv">Art & Academic CV</a>
    </li>
  </ul>
</nav>