---
layout: cv
title: Resumé
customStyle: >
  :root {
    --main-bg-color:var(--neutral-bg-color);
    --main-bg-gradient:none;
  }
---

<h2>Resumé</h2>

<p class="subtitle"><b>Paloma Kop,&nbsp;</b><span>Developer & Creative Technologist&nbsp;</span><span>● New Haven/NYC</span></p>

<nav>
  <ul>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="">PDF Version</a>
    </li>
  </ul>
</nav>

<h3>Work Experience</h3>

<table>
  <tr>
    <td>
      Dates of thing
    </td>
    <td>
      Name of thing
    </td>
  </tr>
</table>

<h3>Education</h3>

<h3>Skills</h3>
