---
layout: default
mainClass: resume
title: Resumé
customStyle: >
  :root {
    --main-bg-color:var(--neutral-bg-color);
    --main-bg-gradient:none;
  }
---

<h2>Resumé</h2>

<p class="subtitle"><b>Paloma Kop,&nbsp;</b><span>Developer & Creative Technologist&nbsp;</span><span>● New Haven/NYC</span></p>

<nav>
  <ul>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="">PDF Version</a>
    </li>
  </ul>
</nav>

<h3>Work Experience</h3>

<resume-item>
  <div>Video Technician @ Frost Productions</div>
  <div>September 2024 - Present</div>
</resume-item>

<ul>
  <li>
    On-site technician for video equipment and software for events
  </li>
  <li>
    Install and manage projectors, screens, cameras, playback devices, LED panels and lights
  </li>
  <li>
    Pivot quickly in changing situations, efficiently troubleshoot and resolve issues
</ul>

<resume-item>
  <div>Adjunct Professor of Animation @ Hamilton College</div>
  <div>September 2024 - December 2024</div>
</resume-item>

<ul>
  <li>
    Taught two sections of <i>Intro to Animation</i> to undergraduate students
  </li>
  <li>
    Developed curriculum on practice, theory, and history of animation and experimental film
  </li>
  <li>
    Instructed students on Mac platforms with Adobe Premiere Pro, Procreate, and Blender
  </li>
</ul>

<h3>Education</h3>

<h3>Skills</h3>

<p>Web Development ● Workflow Automation ● Adobe Suite ● Video ● Python ● Ruby ● HTML & CSS ● Javascript ● Audio Visual ● IT ● Education</p>
