---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Paloma Kop ✦ Updates",
    "description": "Multimedia art, experiments, and explorations.",
    "language": "en",
    "base": "https://palomakop.tv",
    "author": {
      "name": "Paloma Kop"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.base | addPathPrefixToFullUrl }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.base | addPathPrefixToFullUrl }}</link>
    <atom:link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language or page.lang }}</language>
    {%- for i in range(0, 50) %}{%- set update = collections.allUpdates[i] %}{%- if update %}
    {%- set absoluteUpdateUrl = (metadata.base + "/updates/" + update.slug + "/") %}
    <item>
      <title>{{ update.message | stripMarkdownLinks | truncate(80) }}</title>
      <link>{{ absoluteUpdateUrl }}</link>
      <description>
        <![CDATA[<p>{{ update.message | markdownLinks | makeLinksAbsolute(metadata.base) | safe }}</p>{% if update.rssMessage %}<p>{{ update.rssMessage | markdownLinks | makeLinksAbsolute(metadata.base) | safe }}</p>{% endif %}{% if update.image %}<p>{% if update.linkUrl %}<a href="{{ update.linkUrl | htmlBaseUrl(metadata.base) }}">{% endif %}<img src="{{ metadata.base }}{% imageUrl update.image, 600 %}" alt="" style="width:600px;height:auto;"/>{% if update.linkUrl %}</a>{% endif %}</p>{% endif %}]]>
      </description>
      <pubDate>{{ update.date | addTimeToIsoDate | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absoluteUpdateUrl }}</guid>
    </item>
    {%- endif %}{%- endfor %}
  </channel>
</rss>
